meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Principios de funcionamientos y diferencias AM - PMM
meta(meta name="description" content="Los motores asíncronos o de inducción son un tipo de motor de corriente alterna en el que la corriente eléctrica del rotor necesaria para producir torsión es inducida por inducción electromagnética del campo magnético de la bobina del estator. Por lo tanto un motor de inducción no requiere una conmutación mecánica aparte de su misma excitación o para todo o parte de la energía transferida del estator al rotor, como en los motores universales, motores DC y motores grandes síncronos. (Motor de inducción, 2016).")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")