meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Patronaje desarrollo de modelos
meta(meta name="description" content="En  la actualidad la versatilidad de la industria es cada vez más exigente, los consumidores no solamente buscan vestirse sino también buscan identidad en cada prenda; la indumentaria o vestuario que utilizan va de la mano con la calidad, la elaboración en masa y la producción y confección de prendas de vestir, siendo referencia a nivel mundial. Es así como en el presente componente se abordará el desarrollo de modelos, ajustes, volúmenes y hormas en las diferentes líneas de producción, atendiendo las exigencias a nivel global.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")