h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas 
                    +navTemaItem('text', 'Introducción', 'main.html#page/intro/')
                    +navTemaItem('11', 'Patronaje Interpretación de Modelos', 'main.html#page/interpretacion_de_modelos/')
                    +navTemaItem('12', 'Patronaje línea Interior y Deportiva (Software de patronaje)', 'main.html#page/linea_interior/')
                    +navTemaItem('13', 'Operaciones de preparación para elaboración de muestra - Tejido Plano', 'main.html#page/operaciones/')