h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Patronaje interpretación de modelos', 'main.html#page/patronaje1/')
                    +navTemaItem('2', 'Patronaje línea interior y deportiva (Software de patronaje)', 'main.html#page/patronaje2/')
                    +navTemaItem('3', 'Operaciones de preparación para elaboración de muestra - Tejido plano', 'main.html#page/patronaje3/')