h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 22410005 - 02 - Determinar el principio de funcionamiento de los motores de corriente alterna sincrónicos de imanes permanentes, según especificaciones de construcción del fabricante. 