h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas 
                    +navTemaItem('text', 'Introducción', 'main.html#page/intro/')
                    +navTemaItem('1', 'Principio de funcionamiento de un motor de inducción', 'main.html#page/motor_induccion/')
                    +navTemaItem('2', 'Principio de funcionamiento de un motor de imanes permanentes', 'main.html#page/motor_imanes/')
                    +navTemaItem('3', 'Diferencia entre motor inducción (AM) - iman permanente (PMM)', 'main.html#page/iman_permanente/')
                    +navTemaItem('4', 'Variador de velocidad (VSD) - Controles para motor PMM', 'main.html#page/ventajas/')                    