h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li 
                span Desarrollar patrones de prendas de vestir según especificaciones de diseño, ficha técnica o muestra física.