.container
    .header-ecored
        h1 11. Patronaje Interpretación de Modelos
    .jumbotron.bg-white
        .jumbotron
            img.img-a(src="assets/images/pages/ilustraciones/img1_1.png").img-fluid
            p.mt-5 En la industria se identifican diferentes niveles de complejidad en la producción y el desarrollo de prendas de vestir, cada vez más se hace notoria la exploración y el dinamismo en las prendas, la arquitectura sobre la estructura del cuerpo ha tomado cada vez más fuerza, permitiendo desarrollar prendas con ajustes o ilusiones ópticas qué fortalecen el desarrollo del diseño, hoy por hoy no basta con hacer patrones base, sino que es necesario experimentar, explorar y generar siluetas desde cualquier línea de producción.

            p El éxito de un patronista en el desarrollo de moldes corresponde únicamente a la comprensión del cuerpo, desde su funcionamiento hasta de qué manera vestirlo o cubrirlo, para esto es necesario partir desde el conocimiento técnico funcional y no comercial.

            p El fortalecimiento técnico de un patronista se da en la práctica para ello se han desarrollado una serie de explicaciones teórico-prácticas que permiten experimentar y explorar en el desarrollo de siluetas, volúmenes aplicados en las prendas.

        .sub-ecored.mt-5#11_1
            h2 11.1 Manga sastre
        p.mt-5 Para hacer el desarrollo de una manga sastre, se debe tener en cuenta la posición anatómica del brazo y cuál es el objetivo principal de la manga.     
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img2.png").img-fluid
        p Cuando se habla de prendas sastre, son todas aquellas que permiten o fortalecen una buena postura sobre el cuerpo, en este caso la manga sastre lleva la inclinación anatómica del brazo, es decir desde el plano se genera una serie de pinzas que permiten tener en la prenda o en la manga la forma anatómica del cuerpo.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img3.png").img-fluid
        p En el manual de patronaje básico SENA, se identifica varias formas o explicaciones metodológicas para trazar una manga sastre, es importante tener en cuenta que cualquiera de los pasos o métodos aplicados llevan al mismo punto en este caso una manga sastre - funcional.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img4.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img5.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img6.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img7.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img8.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img9.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img10.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img11.png").img-fluid
        p.mn-5 El objetivo principal de esta introducción es identificar qué sin importar el tipo de trazo, explicación o metodología, la funcionalidad y el objetivo principal de la pieza, en este caso la manga sastre debe ser el mismo. Cubrir el brazo dando la forma anatómica del cuerpo.

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gBb9iZ5Defg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.mt-5#11_2
            h2 11.2 Trazo de chaqueta sastre masculina 
        p.mt-5 Cuando se habla de prendas sastre o más específicamente chaqueta sastre masculina, se debe tener en cuenta que el enfoque principal va hacia el ajuste y horma, en masculino el volumen o el ajuste de pinzas se trabaja hacia la parte posterior teniendo en cuenta que el ancho de espalda es uno de los puntos más protuberantes en la parte superior de la silueta masculina.

        p En el manual de patronaje básico SENA, se identifica como punto de partida en la página 71, el trazo base para chaqueta sastre masculina, el cual consiste en un básico con ciertas modificaciones o traslados de los puntos base del cuerpo, para obtener una mejor forma y ajuste sobre la estructura o silueta característica de las prendas sastre.

        p Para el trazo de una chaqueta sastre en la página 73 y en la página 76 del manual de patronaje básico SENA, se identifica una serie de sugerencias o especificaciones frente a las modificaciones en plano que se pueden trabajar para el desarrollo de una chaqueta sastre, se debe tener en cuenta que en masculino no solamente se trabaja por silueta sino por ocasión de uso, es decir que cada prenda o cada diseño tiene unas especificaciones diferentes, a nivel general se puede categorizar la finalidad de la prenda por la cantidad de botones, el ancho de la solapa, la forma en la división del cuello y solapa, el ancho de una tapa de bolsillo, la forma de una boca de bolsillo, los ribetes, el canto o la forma del largo, el forro, los acabados en las partes internas de la prenda, incluso hasta la cantidad de aberturas o cajas, corresponden o suplen necesidades diferentes. Por esto se recomienda desde patronaje, siempre trabajar la parte funcional de la prenda, dejando de lado la segmentación o el nombre comercial. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img12.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img13.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.png").img-fluid
        p Para iniciar el trazo de prendas, desde los básicos, siempre se deben alinear o aplomar sobre una línea base de construcción, en prendas inferiores la línea de aplome o línea base será la línea de altura de cadera.

        p.mb-5 Recuerde que, con el fin de poder adquirir cada vez más fortaleza en patronaje, lo ideal es poder cortar, pegar, trasladar y experimentar.
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ervMRxzneGY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#11_3   
            h2 11.3 Interpretación de chaqueta bomber
        p.mt-5 En el desarrollo de productos para la línea masculina, se identifican diferentes tipos de variaciones, dependiendo el costo de producción o línea de venta, en esta ocasión se va hacer el desarrollo de una chaqueta bomber, si bien la chaqueta bomber es una prenda informal o que puede ser categorizada dentro de un rango de prendas casuales, en esta ocasión se va a ser el desarrollo partiendo desde la base sastre masculina, a la hora de patronar o desarrollar un producto, se debe tener en cuenta siempre el requerimiento de la empresa o cliente, si lo que se busca es un estándar de calidad mayor o un costo de producción más elevado, lo ideal es asegurar la horma y el ajuste desde patronaje, por eso en esta ocasión se trabajará el desarrollo de la chaqueta partiendo desde una base sastre y no desde una base normal.

        p Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas.            
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img15.png").img-fluid

        p Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas superior la línea de aplome o línea base será la línea de profundidad de sisa.        

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.png").img-fluid
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/A8DwMHDCWXk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas según los requerimientos.

        .sub-ecored.mt-5#11_4
            h2 11.4 Chaqueta sastre femenina
        p.mt-5 En el desarrollo de prendas femeninas se identifica gran variedad de productos, a nivel comercial existen diversos nombres para referirse a las prendas, desde un punto funcional las características principales de una prenda sastre femenina, corresponde al aplome, forma y ajuste sobre el cuerpo, sin embargo, existen diversos tipos de prendas, con gran variedad de largos, variación en cuellos, escotes, bolsillos, mangas, que reciben el nombre o se categorizan como prendas sastre.

        p En esta ocasión se va a hacer el análisis de una chaqueta sastre clásica femenina sobre una imagen, no quiere decir que este diseño o tipo de prenda sea el único que existe o el que oficialmente se trabaja como sastrería, se tomara únicamente un referente visual para contextualizar y hacer el desarrollo de patronaje con las características mínimas que debe tener una prenda sastre superior.

        p Para el desarrollo de sastrería femenina a diferencia de la sastrería masculina, no se tiene una base o un básico específico, se trabaja sobre el mismo básico superior industrial desarrollado en ocasiones anteriores.

        p Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas y líneas de producto.            
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img16.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.png").img-fluid
        p.mb-5 Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas superiores la línea de aplome o línea base será la línea de profundidad de sisa.
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NrSVFsTaquY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored-teme.mt-5
            h3 Trazo manga chaqueta sastre femenina
        p.mt-5 Para el trazo de una manga sastre, se deben tener en cuenta las características de forma, no solamente de la manga sino del comportamiento o diseño, en este caso que se está trabajando sobre una imagen en la cual se identifican características específicas cómo cortes, caja y botonadura, es importante mencionar que no solamente se trabajan estas piezas externas, sino que para hacer el desarrollo desde patronaje y pasar al proceso de confección o ensamble se desarrollan piezas internas cómo borra flojos, refuerzos, entretelas, falsos y forros.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img17.png").img-fluid
        p.mt-5 En este punto se tiene claras las generalidades para el desarrollo o trazo de una manga sastre, sin embargo, hace falta fortalecer las piezas internas para la elaboración o el desarrollo de esta.

        p Una de las piezas más características dentro de la manga sastre es el borra flojo, como su nombre lo indica es una pieza interna que en el proceso de confección facilita o permite borrar el flojo que se genera entre el recorrido de la cabeza de manga y la sisa de la prenda, esta pieza se traza de diferentes maneras, en este caso se muestran o se explican las dos más comunes a nivel general.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img18.png").img-fluid
        p.mb-5 Para el trazo o desarrollo de la manga, recuerde tener en cuenta el análisis de proporciones y el trazo de la interpretación de chaqueta sastre femenina.
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xD5YtPY_GCw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas. 

        .sub-ecored-teme.mt-5
            h3 Despiece chaqueta sastre femenina        
        p.mt-5 Al momento de despiezar una chaqueta sastre se deben tener en cuenta diferentes tipos de características cómo, qué tipo de acabado va a tener internamente debido a que en algunos países por la temporada o la estación se le asignan diferentes tipos de acabados internos, los cuales van de la mano con el desarrollo de patronaje.

        p En este caso se va a hacer el despiece de una chaqueta sastre completamente forrada, es importante aclarar que existen diferentes formas de hacer los acabados internos o refuerzos que va a llevar la chaqueta, cada empresa o cada maquila tiene una forma diferente de producción y acabados, todo se debe hacer siempre bajo el requerimiento de la empresa teniendo en cuenta la mano de obra y maquinaria con la que se cuenta.

        p Para el desarrollo de los moldes de refuerzos, entretelas y forros al igual que en las mangas son elementos que no se identifican en la parte externa de la prenda, es decir no se ven a través de una imagen, dibujo plano, incluso muestra físicas, sin embargo, son piezas que sí o sí complementan el desarrollo de la prenda. En este caso se explica las generalidades industriales para el desarrollo de la prenda, sin embargo, encontrará diferentes tipos de necesidades o requerimientos en la industria.        
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img19.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img20.png").img-fluid
        p.mb-5 Para el trazo o desarrollo del despiece de la chaqueta sastre, recuerde tener en cuenta el trazo de la interpretación de chaqueta y manga sastre femenina.
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/AK2wuIOJLXI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#11_5   
            h2 11.5 Chaqueta cuello alto (traslados de pinza) 
        p.mt-5 El desarrollo de prendas la exploración y experimentación en el traslado de pinzas generación de cortes y eliminación de líneas o puntos claves de eje de rotación del cuerpo, permite tener una visión más amplia sobre el desarrollo y la elaboración de prenda, este tipo de ejercicios fortalecen el conocimiento de un patronista aumentando su nivel de comprensión y desarrollo en la dificultad de las prendas.

        p Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas y líneas de producto.        

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img21.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.png").img-fluid
        p Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas superiores la línea de aplome o línea base será la línea de profundidad de sisa.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yKwVapWExPo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')        
        p Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#11_6   
            h2 11.6 Abrigo asimétrico         
        p El desarrollo de prendas la exploración y experimentación en el traslado de pinzas generación de cortes y eliminación de líneas o puntos claves de eje de rotación del cuerpo, permite tener una visión más amplia sobre el desarrollo y la elaboración de prenda, este tipo de ejercicios fortalecen el conocimiento de un patronista aumentando su nivel de comprensión y desarrollo en la dificultad de las prendas.

        p Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas y líneas de producto.            
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img22.png").img-fluid
        p Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas superiores la línea de aplome o línea base será la línea de profundidad de sisa.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-t2RPXBUsLA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   
        p Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#11_7   
            h2 11.7 Generalidades de pantalón sastre masculino – interpretación  
        p.mt-5 Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas y líneas de producto.                   
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img23.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.png").img-fluid
        .embed-responsive.embed-responsive-16by9.mb-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/be_WSq_gwFo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  
        p Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.
        .sub-ecored.mt-5#11_8   
            h2 11.8 Interpretación de pantalón sastre femenino   
        p.mt-5 Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas y líneas de producto.                   
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img24.png").img-fluid
        p Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas inferiores la línea de aplome o línea base será la línea de altura de cadera o tiro.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8d20OBO4tHI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        p Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.
        .sub-ecored.mt-5#11_9   
            h2 11.9 Generalidades de manga kimona y ranglan    
        p.mt-5 Para hacer el desarrollo de una manga kimona o una manga ranglan, se debe tener en cuenta que este tipo de prendas eliminan el corte o el eje de rotación anatómico donde se une las extremidades superiores (brazo) con el tronco, esto quiere decir que se debe generar cierto tipo de amplitudes o desahogos que permitan tener movimiento sin ningún tipo de inconveniente.

        p En el manual de patronaje básico SENA, se identifica varias formas o explicaciones metodológicas para trazar este tipo de mangas, es importante tener en cuenta que cualquiera de los pasos o métodos aplicados llevan al mismo punto funcional.                  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img25_1.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img25.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img26.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img27.png").img-fluid
        p El objetivo principal de esta introducción es identificar qué sin importar el tipo de trazo, explicación o metodología, la funcionalidad y el objetivo principal de la pieza, en este caso la manga kimona o ranglas debe ser el mismo. Cubrir el brazo permitiendo la funcionalidad en el movimiento.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/tJWzjpSmkps', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')         

        .sub-ecored-teme
            h3 Interpretación de prendas con manga kimona y ranglan  
        p.mt-5 Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas y líneas de producto.            
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img28.png").img-fluid
        p Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas superiores la línea de aplome o línea base será la línea de profundidad de sisa.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ecVIQbWZqPQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          
        p Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#11_10   
            h2 11.10 Análisis e interpretación de capas     
        p.mt-5 Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas y líneas de producto.                
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img29.png").img-fluid
        p Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZbGipLzdDTY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   
        p Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#11_11   
            h2 11.11 Análisis e interpretación de pantalón sudadera   
        p.mt-5 Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo requerimiento real de un cliente. 

        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

        p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas y líneas de producto.                 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img30.png").img-fluid
        p Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas inferiores la línea de aplome o línea base será la línea de altura de cadera o tiro.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xcUi9S-ZqzI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')           
        p Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas. 