.container#introduccion
    
    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 Introducción
        .row
            .col-12.text-right
                img(src="assets/images/pages/ilustraciones/img1.svg", style="max-width: 80%; margin-right: 6%; margin-bottom: -2%; z-index: 2; position: relative;").img-fluid
            .col-12.bg-color1
                p.mb-0 La transición y globalización en el sector moda se hace más exigente en cuanto a la exploración y comprensión en el desarrollo de las prendas, buscando mejoras en el ajuste, horma, confort, materiales y tecnología de punta, lo que permite que los productos comercializados por las empresas del sector moda y confección atiendan las necesidades y requerimientos de la industria.
        .row.mt-5.align-items-center
            .col-12.col-md-6
                p En la actualidad,  el sector confección, diseño y moda está haciendo la transición a nivel país en la preparación y capacitación de mano de obra calificada y tecnología versátil que aporte al estándar competitivo internacional, con la que busca dar una respuesta rápida y eficaz a las exigencias del mercado; en este aspecto el patronista juega un papel fundamental, pues debe estar preparado para interpretar los bocetos, sketch y diseños asignados por el diseñador, cumpliendo a cabalidad con los procesos de producción o prototipado necesarios.
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img1.png", style="max-width: 100%;").img-fluid