.container#patronaje1

    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 1. Patronaje interpretación de modelos
        .row.align-items-center.bg-color2
            .col-12.col-md-8
                p En la industria se identifican diferentes niveles de complejidad en la producción y el desarrollo de prendas de vestir, en la que se hace notoria la exploración y el dinamismo en las prendas; la arquitectura sobre la estructura del cuerpo ha tomado fuerza, permitiendo desarrollar prendas con ajustes o ilusiones ópticas que fortalecen el desarrollo del diseño, hoy por hoy no basta con hacer patrones base, se hace necesario experimentar, explorar y generar siluetas desde cualquier línea de producción.
                p El éxito de un patronista en el desarrollo de moldes corresponde únicamente a la comprensión del cuerpo, de su funcionamiento y de la manera de vestirlo o cubrirlo, para esto es necesario partir del conocimiento técnico, funcional y no comercial.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img2.png", style="max-width: 100%").img-fluid.py-4
        p.mt-5 El fortalecimiento técnico de un patronista se da en la práctica, para ello se han realizado una serie de explicaciones teórico-prácticas que permiten experimentar y explorar el desarrollo de siluetas y volúmenes aplicados en las prendas.
        .row.align-items-center.mt-4.justify-content-center
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img3.png", style="max-width: 100%").img-fluid
            .col-12.col-md-6.mt-4.mt-md-0
                p Es necesario tener en cuenta para la ejecución del presente componente en sus líneas.XXXXXX:
                p Para realizar cualquier tipo de interpretación, plano, trazo o patrón se recomienda tener en cuenta el análisis específico de la prenda, en este caso los planos de referencia del manual:
        .row.mt-5.justify-content-center
            .col-5
                .list.align-items-star.ml-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Tipo de prenda.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Características que tiene.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Básico.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Tipo de plano.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Desahogos.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Sistema de cierre.
            .col-5
                .list.align-items-star.ml-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Sistema de ajuste.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Complementos.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Señalización.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Despiece.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Prototipado.
        .row.mt-5
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img4.png", style="max-width: 100%").img-fluid
            .col-10.bg-color3
                p.mb-0 Cuando se empieza a trabajar el trazo de prendas desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas superiores la línea de aplome o línea base será la línea de profundidad de sisa.
        .row.mt-5
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img5.png", style="max-width: 100%").img-fluid
            .col-10.bg-color3
                p.mb-0 Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño; si bien en ocasiones anteriores se han realizado ejercicios sobre el análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varían de acuerdo con el tamaño, diseño, impresión, dibujo, básico y sistema de medida. Las referencias implementadas son ejemplos detallados que usted puede usar como referencia para la elaboración de otros modelos similares.
        .row.mt-5
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img6.png", style="max-width: 100%").img-fluid
            .col-10.bg-color3
                p.mb-0 Con el fin de tener referencias visuales y profundizar cada vez más en la interpretación de prendas, se irá asignando una serie de imágenes para hacer el desarrollo del patrón y el análisis de proporciones bajo el requerimiento real de un cliente.
        .row.mt-5
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img7.png", style="max-width: 100%").img-fluid
            .col-10.bg-color3
                p.mb-0 Se debe tener en cuenta que las medidas implementadas en los videos son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso del tipo de lápiz que se trabaje, lo importante es siempre indicar las medidas del cuadro de tallas y las fórmulas referenciadas.
        .row.mt-5
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img8.png", style="max-width: 100%").img-fluid
            .col-10.bg-color3
                p.mb-0 La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos a diferentes tipos de prendas y líneas de producto. 
        .hr
        #11
        .header-ecored
            h2 1.1 Manga sastre
        .row.justify-content-around.align-items-stretch
            .col-12.col-md-5
                p.bg-color4.mb-0 Para hacer el desarrollo de una manga sastre se debe tener en cuenta la posición anatómica del brazo y cuál es el objetivo principal de la manga.
                img(src="assets/images/pages/ilustraciones/img9.png", style="max-width: 100%")
            .col-12.col-md-5.mt-4.mt-md-0
                p.bg-color4.mb-0 Cuando se habla de prendas sastre se hace referencia a todas aquellas que permiten o fortalecen una buena postura sobre el cuerpo, en este caso la manga sastre lleva la inclinación anatómica del brazo, es decir, desde el plano se genera una serie de pinzas que permiten tener en la prenda o en la manga la forma anatómica del cuerpo.
                img(src="assets/images/pages/ilustraciones/img10.png", style="max-width: 100%")
        .row.mt-5
            .col-12.bg-color1
                p.mb-0 En el manual de patronaje básico SENA se identifican varias formas o explicaciones metodológicas para trazar una manga sastre, es importante tener en cuenta que cualquiera de los pasos o métodos aplicados lleva al mismo punto, en este caso a una manga sastre - funcional.
        .row.align-items-center.mt-5
            .col-12.bg-color5
                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    .carousel-inner
                        .carousel-item.active
                            .row.justify-content-center
                                .col-10
                                    p En la página N°27 del manual (Línea femenina) se identifica el trazo de una manga sastre con una serie de cortes y traslados que reciben el nombre de una hoja ancha o cimera y una hoja angosta o bajera.
                                    img(src="assets/images/pages/ilustraciones/img11.png", style="max-width: 100%", alt="0").img-fluid.img-a
                        .carousel-item
                            .row.justify-content-center
                                .col-10
                                    p En la página N°44 del manual (Línea femenina) se identifica el trazo de una manga sastre con una explicación diferente o con unos pasos diferentes al anterior, se debe tener en cuenta que el resultado sin importar los pasos o la técnica que se utilice al final va a ser el mismo, la única diferencia son las variaciones en los cortes que corresponden al diseño.
                                    img(src="assets/images/pages/ilustraciones/img12.png", style="max-width: 100%", alt="1").img-fluid.img-a
                        .carousel-item
                            .row.justify-content-center
                                .col-10
                                    p En la página N°46 del manual (Línea femenina) se identifica otro tipo de trazo para el desarrollo de una manga sastre, es importante mencionar que en todas se identifica una hoja ancha y una hoja angosta que corresponde a cimera y bajera.
                                    img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 100%", alt="2").img-fluid.img-a
                        .carousel-item
                            .row.justify-content-center
                                .col-10
                                    p En las páginas N°74 y 77 del manual (Línea masculina) se identifica otro tipo de trazo o explicación para el desarrollo de la manga.
                                    img(src="assets/images/pages/ilustraciones/img14.png", style="max-width: 100%", alt="3").img-fluid.img-a                   
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
        p.mt-5 El objetivo principal de esta introducción es identificar que sin importar el tipo de trazo, explicación o metodología, la funcionalidad y el objetivo principal de la pieza, en este caso la manga sastre, debe ser el mismo. Cubrir el brazo dando la forma anatómica del cuerpo.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gBb9iZ5Defg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #12
        .header-ecored
            h2 1.2 Trazo de chaqueta sastre masculina
        .row.align-items-center.bg-color2
            .col-12.col-md-8
                p Cuando se habla de prendas sastre, específicamente de la chaqueta sastre masculina, se debe tener en cuenta que el enfoque principal va hacia el ajuste y horma, en masculino el volumen o el ajuste de pinzas se trabaja hacia la parte posterior, teniendo en cuenta que el ancho de espalda es uno de los puntos más protuberantes en la parte superior de la silueta masculina.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 100%").img-fluid.py-4
        p.mt-5 En el manual de patronaje básico SENA se identifica como punto de partida en la página 71 el trazo base para la chaqueta sastre masculina, el cual consiste en un básico con ciertas modificaciones o traslados de los puntos base del cuerpo, para obtener una mejor forma y ajuste sobre la estructura o silueta característica de las prendas sastre.
        .row.mt-5
            .col-12.bg-color6
                .row.align-items-center
                    .col-3
                        img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 100%").img-fluid
                    .col-9
                        p.mb-0 Para el trazo de una chaqueta sastre en las páginas 73 y 76 del manual de patronaje básico SENA se identifica una serie de   tener en cuenta que en masculino no solamente se trabaja por silueta sino por ocasión de uso, es decir, que cada prenda o cada diseño tiene unas especificaciones diferentes, a nivel general, se puede categorizar la finalidad de la prenda por:
                h3.mt-4 Características
                .list.align-items-star.ml-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p La cantidad de botones.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p El ancho de la solapa.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p La forma en la división del cuello y solapa.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p El ancho de una tapa de bolsillo.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p La forma de una boca de bolsillo.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Los ribetes.
                .list.align-items-star.ml-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p El canto o la forma del largo.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p El forro.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p Los acabados en las partes internas de la prenda.
                .list.align-items-star.ml-4.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                    .list__txt
                        p.mb-0 Incluso, hasta la cantidad de aberturas o cajas corresponden o suplen necesidades diferentes.
        p.mt-5 Las siguientes imágenes muestran el modelo de la prenda a desarrollar:
        img(src="assets/images/pages/ilustraciones/img17.png", style="max-width: 100%").img-fluid.img-a
        p Teniendo en cuenta el básico superior, podrá observar en el siguiente video ejemplo de referencia, cómo usted debe analizar y proceder a aplicar la talla según el cuadro de tallas del manual y las respectivas fórmulas mencionadas en este video:
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ervMRxzneGY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #13
        .header-ecored
            h2 1.3 Interpretación de chaqueta bomber
        .row.align-items-center.bg-color2
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img19.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-8
                p En el desarrollo de #[b productos para la línea masculina] se identifican diferentes tipos de variaciones, dependiendo el costo de producción o línea de venta, En esta ocasión se va a realizar el desarrollo de una chaqueta bomber, si bien la chaqueta bomber es una prenda informal su origen es reciente, #[b pues se creó en la industria militar para el uso de los pilotos de combate], con el fin de brindar en su funcionalidad la flexibilidad necesaria para los movimientos del cuerpo, con su evolución  puede ser categorizada dentro de un rango de prendas casuales en las tres líneas (masculina, femenina e infantil).
            .col-12
                p El proceso de patronaje debe garantizar un alto nivel estándar de calidad en la empresa, lo cual incida en la satisfacción del cliente sin incurrir en altos costos de producción que disminuya las metas, afectando  la productividad y ganancias de la organización. #[b El modelo bomber se concibe como una chaqueta ajustada y a nivel de la cintura]; por eso en esta ocasión se trabajará el desarrollo de la chaqueta partiendo desde una base sastre y no desde una base normal.
        p.mt-5 A continuación puede analizar las imágenes de la prenda y posteriormente el desarrollo en el video:
        img(src="assets/images/pages/ilustraciones/img18.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/A8DwMHDCWXk', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #14
        .header-ecored
            h2 1.4 Chaqueta sastre femenina
        .row.align-items-center.bg-color8
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img20.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-8
                p En el desarrollo de #[b prendas femeninas] se identifica gran variedad de productos, en el comercio existen diversos nombres para referirse a las prendas, la chaqueta sastre es una prenda formal utilizada en general por la mujer ejecutiva. Las características principales de #[b una prenda sastre femenina] corresponden #[b al aplome, forma y ajuste sobre el cuerpo]; sin embargo, se presenta iversidad en el modelo de chaqueta, variedad de largos, variación en cuellos, escotes, bolsillos, mangas, así de la misma manera, se nombran o categorizan como prendas sastre.
            .col-12
                p El siguiente análisis se hará en una chaqueta sastre clásica femenina, teniendo en cuenta una imagen conforme a lo mencionado anteriormente, es un solo modelo de este tipo de prenda, con el fin de tomar un referente visual para contextualizar y hacer el desarrollo del patronaje con las características mínimas que debe tener una prenda sastre superior.
                p Para el desarrollo de sastrería femenina #[b a diferencia de la sastrería masculina, no se tiene una base o un básico específico], se trabaja sobre el mismo básico superior industrial desarrollado en ocasiones anteriores.
        .row.mt-5.justify-content-center
            .col-8.bg-color9
                p.mb-0 En las siguientes imágenes y videos usted podrá apreciar y analizar el desarrollo de la chaqueta sastre y así puede realizar los desarrollos de patronaje en otros modelos similares de chaquetas.
        img(src="assets/images/pages/ilustraciones/img21.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NrSVFsTaquY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .header-ecored
            h3 1.4.1 Trazo manga chaqueta sastre femenina
        .row.align-items-center.bg-color8
            .col-12.col-md-8
                p Para el trazo de una manga sastre se debe tener en cuenta las características de forma, no solamente de la manga sino del comportamiento o diseño, en este caso se está trabajando sobre una imagen en la cual se identifican características específicas como cortes, caja y botonadura, es importante mencionar que no solamente se trabajan estas piezas externas, para hacer el desarrollo desde el patronaje y pasar al proceso de confección o ensamble se desarrollan piezas in ternas como borra flojos, refuerzos, entretelas, falsos y forros.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img22.png", style="max-width: 100%").img-fluid.py-4
            .col-12
                p En este punto se tienen claras las generalidades para el trazo de una manga sastre; sin embargo, hace falta fortalecer las piezas internas para la elaboración de esta.
        p.mt-5 Para el trazo o desarrollo de la manga recuerde tener en cuenta el análisis de proporciones y el trazo de la interpretación de chaqueta sastre femenina.
        img(src="assets/images/pages/ilustraciones/img23.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xD5YtPY_GCw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .header-ecored
            h3 1.4.2 Despiece chaqueta sastre femenina
        .row.align-items-center.bg-color8
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img24.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-8
                p Las características de la prenda planteadas como el tipo de acabado en su parte interna inciden en el despiece, por ejemplo, #[b debido al clima cambia sus componentes internos], sobre todo lo relacionado con el textil usado, esta es información valiosa para el patronista en el desarrollo del patronaje.
                p En el caso a desarrollar se hace el despiece de una chaqueta sastre completamente forrada, es importante aclarar que #[b existen diferentes formas de hacer los acabados internos] o refuerzos que va a llevar la chaqueta, cada empresa o cada maquila tiene una forma diferente de producción y acabados, todo se debe hacer siempre bajo el requerimiento de la empresa, teniendo en cuenta la mano de obra y maquinaria con la que se cuenta.
                p El desarrollo de los moldes de refuerzos, entretelas y forros, al igual que las mangas, son elementos internos, no apreciables en dibujo plano o imágenes, pero de igual forma se deben contemplar. Para la prenda a trabajar se explican las generalidades industriales en el desarrollo de la prenda; sin embargo, encontrará diferentes tipos de necesidades o requerimientos en la industria.
        p.mt-5 Para el trazo o desarrollo del despiece de la chaqueta sastre recuerde tener en cuenta el trazo de la interpretación de chaqueta y manga sastre femenina.
        img(src="assets/images/pages/ilustraciones/img25.png", style="max-width: 40%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/AK2wuIOJLXI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #15
        .header-ecored
            h2 1.5 Chaqueta cuello alto (traslados de pinza)
        .row.align-items-center.bg-color2
            .col-12.col-md-8
                p En el desarrollo de prendas, la exploración y experimentación en el traslado de pinzas, generación de cortes, eliminación de líneas o puntos claves de eje de rotación del cuerpo, #[b permite tener una visión más amplia sobre el desarrollo y la elaboración de la prenda]; este tipo de ejercicios fortalecen el conocimiento de un patronista aumentando su nivel de comprensión y desarrollo en la dificultad de la elaboración de las prendas.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img26.png", style="max-width: 100%").img-fluid.py-4
        p.mt-5 Con el fin de desarrollar el modelo en la siguiente imagen podrá analizar la prenda, y con el video obtendrá las herramientas necesarias para realizar el patronaje:
        img(src="assets/images/pages/ilustraciones/img27.png", style="max-width: 60%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yKwVapWExPo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #16
        .header-ecored
            h2 1.6 Abrigo asimétrico
        .row.align-items-center.bg-color8
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img28.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-8
                p El modelo a desarrollar requiere un mayor volumen en el textil dado por el cruce, es necesario analizar las proporciones requeridas; el nombre a un lado en el delantero será diferente del lado contrario. Para el modelo a trabajar la asimetría se da en el largo, observando en la imagen el lado más largo y el más corto y su diferencia, así mismo, los detalles como el cuello, el sistema de ajuste y vuelo, además del cruce de botones y bolsillos para iniciar la construcción se facilitan con el plano abierto en el delantero para identificar y trazar la asimetría del modelo.
        .row.mt-5.align-items-center
            .col-8.bg-color10
                p.mb-0 Teniendo en cuenta la prenda a analizar, existen variaciones del diseño, se muestra la siguiente imagen como modelo para la explicación en el video:
            .col-4.text-center
                img(src="assets/images/pages/ilustraciones/img29.png", style="max-width: 100%").img-fluid
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-t2RPXBUsLA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #17
        .header-ecored
            h2 1.7 Generalidades de pantalón sastre masculino – interpretación
        .row.align-items-center.bg-color2
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img30.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-8
                p El diseño clásico de la prenda desarrollada en Inglaterra dio gran relevancia a los sastres en los años 30; la sastrería convertida en arte posicionó #[b el traje de un caballero conformado por la chaqueta y el pantalón], como el pantalón sastre fue desarrollado en Inglaterra en donde el arte de la sastrería tuvo un auge posicionando, el traje masculino comprendido por la chaqueta y el pantalón se convirtió en la prenda de uso exclusivo de los caballeros en los años 30. #[b Su elaboración sigue siendo de especial cuidado y dificultad en su producción];   los sastres italianos y franceses se sumaron para confeccionar este tipo de prenda, de acuerdo con el avance de la maquinaria y crecimiento de la industria hoy por hoy; los pantalones sastre masculinos siguen manteniendo sus características clásicas, proporcionando elegancia y distinción en el vestir de los hombres.
        p.mt-5 A continuación, según las imágenes presentadas, usted podrá tener una guía para desarrollar esta prenda:
        .row.align-items-center.mt-5
            .col-12.bg-color8
                #carouselExampleIndicators1.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='1')
                    .carousel-inner
                        .carousel-item.active
                            .row.justify-content-center
                                .col-10
                                    p.text-center.txt-deco1 Pantalón sastre masculino
                                    img(src="assets/images/pages/ilustraciones/img31.png", style="max-width: 100%", alt="0").img-fluid.img-a
                        .carousel-item
                            .row.justify-content-center
                                .col-10
                                    p.text-center.txt-deco1 Pantalón sastre masculino
                                    img(src="assets/images/pages/ilustraciones/img32.png", style="max-width: 100%", alt="1").img-fluid.img-a
                    a.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
        p.mt-5 Con el siguiente video obtendrá los elementos para analizar y desarrollar los modelos de pantalones tipo sastre:
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/be_WSq_gwFo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #18
        .header-ecored
            h2 1.8 Interpretación de pantalón sastre femenino
        .row.align-items-center.bg-color8
            .col-12.col-md-8
                p El traje femenino concebido inicialmente por chaqueta y falda, conforme a los cambios sociales y culturales de la década de los años 60 dio paso a la normalización de su uso en las mujeres trabajadoras; hoy por hoy sigue siendo una prenda de uso en el trabajo de oficina, pero igualmente preferida por su estilo, elegancia y confort.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img33.png", style="max-width: 100%").img-fluid.py-4
        .row.mt-5.align-items-center
            .col-8.bg-color11
                p.mb-0 Para la construcción del patronaje usted puede apreciar la prenda en la siguiente imagen y se apoyará en el video para su desarrollo:
            .col-4.text-center
                img(src="assets/images/pages/ilustraciones/img34.png", style="max-width: 100%").img-fluid
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8d20OBO4tHI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #19
        .header-ecored
            h2 1.9 Generalidades de manga kimona y ranglan
        .row.align-items-center.bg-color8
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img35.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-8
                p Para hacer el desarrollo de una manga kimona o una manga ranglan se debe tener en cuenta que este tipo de prendas eliminan el corte o el eje de rotación anatómico donde se unen las extremidades superiores (brazo) con el tronco, esto quiere decir que se debe generar cierto tipo de amplitudes o desahogos que permitan tener movimiento sin ningún tipo de inconveniente.
        p.mt-5 Teniendo en cuenta la prenda a analizar, existen variaciones del diseño, se muestra la siguiente imagen como modelo para la explicación en el video:
        .row.mt-5
            .col-12.bg-color1
                p.mb-0 En el manual de patronaje básico SENA se identifican varias formas o explicaciones metodológicas para trazar este tipo de mangas, es importante tener en cuenta que cualquiera de los pasos o métodos aplicados lleva al mismo punto funcional.
        img(src="assets/images/pages/ilustraciones/img36.png", style="max-width: 60%").img-fluid.img-a
        p.mt-5 La presente introducción clarifica la metodología de la construcción del patronaje y la funcionalidad de la prenda, en ambas mangas busca cubrir el brazo permitiendo facilidad en el movimiento.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/tJWzjpSmkps', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .header-ecored
            h3 1.9.1 Interpretación de prendas con manga kimona y ranglan
        p Para interpretar estos dos tipos de manga se puede remitir al manual de patronaje SENA, páginas 48 a 50, además con las imágenes comprenderá sus similitudes y diferencias, y en el siguiente video podrá construirlas:
        .row.align-items-center.mt-5
            .col-12.bg-color8
                #carouselExampleIndicators2.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators2', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators2', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators2', data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            .row.justify-content-center
                                .col-10
                                    p.text-center.txt-deco1 Manga kimona y ranglan
                                    img(src="assets/images/pages/ilustraciones/img37.png", style="max-width: 100%", alt="0").img-fluid.img-a
                        .carousel-item
                            .row.justify-content-center
                                .col-10
                                    p.text-center.txt-deco1 Manga kimona y ranglan
                                    img(src="assets/images/pages/ilustraciones/img38.png", style="max-width: 100%", alt="1").img-fluid.img-a
                        .carousel-item
                            .row.justify-content-center
                                .col-10
                                    p.text-center.txt-deco1 Manga kimona y ranglan
                                    img(src="assets/images/pages/ilustraciones/img39.png", style="max-width: 100%", alt="1").img-fluid.img-a
                    a.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ecVIQbWZqPQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #110
        .header-ecored
            h2 1.10 Análisis e interpretación de capas
        .row.align-items-center.bg-color2
            .col-12.col-md-8
                p Se presentan tres variaciones de capas para trabajar este tema, con el fin de entender los tipos que se pueden desarrollar para aplicar las construcciones de patronaje adecuadas, teniendo en cuenta el vuelo de la capa, cómo se trabajan las faldas semirotondas y rotondas, y ajustando y aplicando pinzas en el caso requerido.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img40.png", style="max-width: 100%").img-fluid.py-4
        p.mt-5 En las siguientes imágenes puede analizar y comparar los tipos de capas:
        img(src="assets/images/pages/ilustraciones/img41.png", style="max-width: 70%").img-fluid.img-a
        p.mt-5 A continuación, puede conocer el desarrollo de los tres tipos de capas de los ejemplos en el siguiente video:
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZbGipLzdDTY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #111
        .header-ecored
            h2 1.11 Análisis e interpretación de pantalón sudadera
        .row.align-items-center.bg-color8
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img42.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-8
                p Se presentan tres variaciones de capas para trabajar este tema, con el fin de entender los tipos que se pueden desarrollar para aplicar las construcciones de patronaje adecuadas, teniendo en cuenta el vuelo de la capa, cómo se trabajan las faldas semirotondas y rotondas, y ajustando y aplicando pinzas en el caso requerido.
        p.mt-5 En las siguientes imágenes puede analizar y comparar los tipos de capas:
        img(src="assets/images/pages/ilustraciones/img43.png", style="max-width: 70%").img-fluid.img-a
        p.mt-5 A continuación, puede conocer el desarrollo de los tres tipos de capas de los ejemplos en el siguiente video:
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xcUi9S-ZqzI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')