.container
    .header-ecored
        h1 11.2 Patronaje Interpretación de Modelos
    .jumbotron.bg-white
        .jumbotron
            img.img-a.mb-5(src="assets/images/pages/ilustraciones/img31.png").img-fluid
            p Cuando se habla de ropa interior y deportiva, se hace referencia a todas las prendas del universo de vestuario Under Wear y Leasure Wear, va enfocado principalmente a prendas de vestir que son elaboradas en un gran porcentaje en tejido de punto, sin embargo, en algunos casos se implementan tejidos planos, ya va dependiendo el requerimiento del diseño.       

        .arrow.py-4.my-5
            h3 Historia de la ropa interior   
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img32.png").img-fluid 
            .col
                p El ser humano desde su comienzo utiliza indumentaria para cubrirse tanto del frío como del pudor, de ahí se empieza a utilizar diferentes materiales para la elaboración de estas prendas, el algodón, el cuero y el lino son algunos de los primeros materiales que se utilizaron.            

        .arrow.py-4.my-5
            h3 Antigüedad
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img33.png").img-fluid 
            .col
                p El primer material utilizado fueron las hojas de un árbol llamado higuera, posteriormente se cubrían con cueros de animales.                 
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid                 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img35.png").img-fluid
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img36.png").img-fluid
        p.mt-5 La ropa interior era la única vestimenta que utilizaban los hombres. Definián esa parte de su cuerpo para protegerse de inclemencias climáticas.

        p La lencería inicia su desarrollo principal en las antiguas ciudades Grecia, Roma y Egipto, donde las mujeres empezaron a desarrollar prendas que pretendían tapar sus zonas púdicas, para que los hombres las vieran con mayor respeto.

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img37.png").img-fluid 
            .col
                h3.text-1 Egipto
                p Las coloraciones, telas, materiales y movimiento de los plises de cada túnica egipcia representaba el rango que se ocupa en la sociedad.  
        hr      

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img38.png").img-fluid 
            .col
                h3.text-1 Grecia
                p Zóster ceñidor, consistía en una banda larga de paño o lino que se ataban en la cintura para resaltar su figura o feminidad.
                p Fue signo de obscenidad al rendirle culto al cuerpo exponían sus senos sin pudor, amamantaban y se cuidaban después de dar a luz para retornar a sus actividades sociales y deportivas.  
        hr   

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img39.png").img-fluid 
            .col
                h3.text-1 Roma
                p Las mujeres en la parte inferior utilizaban algo similar al subligaculum o calzoncillo masculino, su forma era muy parecida a las actuales bragas. Mastodeton una especie de banda que aplastaba el busto.   
        hr   

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img40.png").img-fluid 
            .col
                h3.text-1 Medioevo 
                p La ropa interior en época clásica no sólo cubría las partes más íntimas, si no que determinaban su estado civil y posición social.  
        hr                           

        .arrow.py-4.my-5
            h3 Generalidades para identificar la talla del brasier 
        img.img-a(src="assets/images/pages/ilustraciones/img41.png").img-fluid 
        .jumbotron.bg-1.py-4.mb-0
            h3.mb-0.text-center ¿Como conocer la talla correcta?
        .jumbotron.bg-2.mt-0 
            p Es una concepción un poco ilógica pensar que por el hecho de ser mujeres NO exista la posibilidad de sentirse cómoda, que los senos deben adaptarse a cualquier producto encontrado en el mercado - no que el producto debe quedar por sí solo.   

            p Parece una fortuna cuando por casualidad se encuentra un brassier que no talle, que no se suba de contorno, que las tiras no se caigan o marquen o que el aro no se clave en la piel y el escote no marque. 
            img.img-a.my-5(src="assets/images/pages/ilustraciones/img41_1.png").img-fluid 
            p.text-center En cuanto a la anatomía se refiere, existen varias formas de busto.
            .row.justify-content-center.align-items-stretch.mt-5
                .col-12.col-md-4
                    img.img-a.mb-2(src="assets/images/pages/ilustraciones/img42.png").img-fluid 
                    p Pera: aquel busto que tiene peso en su parte inferior y necesita ser levantado y sujetado.

                .col-12.col-md-4
                    img.img-a.mb-2(src="assets/images/pages/ilustraciones/img43.png").img-fluid 
                    p Cónico: generalmente este busto también es un poco desviado hacia los costados y levantado en su parte superior, “visco que llaman”, requiere de prendas que lo junten y realcen. 

                .col-12.col-md-4
                    img.img-a.mb-2(src="assets/images/pages/ilustraciones/img44.png").img-fluid 
                    p Redondo: aquellas a quienes envidiablemente les queda bien todos los brassieres que se colocan, su realce es natural con cualquier horma y lucen siempre un lindo escote.                                 
            .arrow.py-4.my-5.bg-1.bg-radius
                h3 Para cada forma de busto existen sus recomendaciones en cuanto a la silueta de brassier:                     
            .row.justify-content-center.align-items-stretch.mt-5
                .col-12.col-md-4
                    p Pera: copa entera- Push-up - Copa redonda. 
                .col-12.col-md-4
                    p Cónico: copa Redonda.                 
                .col-12.col-md-4
                    p Redondo: toda Silueta.
                 
        .arrow.py-3.mx-5.my-5.bg-3
            h3 Brasier 
        p Es una estructura y una obra de ingeniería en donde se necesita una excelente base para que exista la posibilidad de sostener un peso (independiente de cuál sea este) recordemos que las tirantas no son las que deben sostener el busto, el busto es sostenido por la estructura o base bien desarrollada.
        
        .arrow.py-3.mx-5.my-5.bg-3
            h3 Contornos 
        p El manejo de los contornos existe, porque todas las anatomías son diferentes, incluso por regiones del país y también a nivel mundial todas las mujeres somos diferentes, pero hay que estandarizar y generalizar tallajes preestablecidos, medidas anatómicas mundiales avaladas por entes certificadores que nos generan rangos que van desde la talla 26 hasta la 52, esto nos hace imaginar la variedad tan grande que existe en cuanto a medidas. Todo aplicado al cuerpo femenino.

        .arrow.py-3.mx-5.my-5.bg-3
            h3 Copas
        p El peso del busto se conoce como el volumen mismo de este, para suplir la necesidad de un volumen tan diferente que marca la anatomía de cada mujer es que existen las copas.                        

        .arrow.py-3.mx-5.my-5.bg-1
            h3 ¿qué significa esto? 
        p Que para cada volumen hay una copa diferente y existen de menor a mayor desde la AA pasando por la  A – la B (que es la copa estándar) la C – la D – la DD – la E hasta llegar a la K, esto es un comparativo para que nos podamos imaginar los diferentes volúmenes de busto que existen.         

        .arrow.py-3.mx-5.my-5.bg-2
            h3 Como colocarse el brassier         
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img45.png").img-fluid 

        .arrow.py-3.mx-5.my-5.bg-2
            h3 Medidas anatómicas      
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img46.png").img-fluid 

        .arrow.py-3.mx-5.my-5.bg-2
            h3 Áreas a medir prenda terminada      
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img47.png").img-fluid         

        .arrow.py-3.mx-5.my-5.bg-2
            h3 Medidas prenda terminada  
        p El referente para tener en cuenta para medir es la talla 34 en copa b, puesto que es la estándar para la línea de ropa interior femenina, siendo estas para un brassier con cotilla las siguientes, tomando como referente una brassier de silueta corte horizontal como el de la imagen (estos datos dependen del diseño de la prenda y sus materiales).
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img48.png").img-fluid   

        .arrow.py-3.mx-5.my-5.bg-2
            h3 Siluetas de brassier 
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img49.png").img-fluid 
            .col
                h3.text-1 Strapless
                p Es un brassier de cotilla amplia que brinda una excelente sujeción, sus copas tienen la profundidad necesaria para albergar el busto sosteniéndolo totalmente y ofreciendo el beneficio de no necesitar tirantas, se le puede adicionar elástico siliconado para ayuda de la sujeción en sisas o escote incluso en el contorno, generalmente lleva varillas laterales.
        hr         

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img50.png").img-fluid 
            .col
                h3.text-1 Copa entera 
                p Brassier que sostiene el busto completamente sin ser muy escotado brindando absoluta comodidad y sujeción, ideal para busto pesado, puede tener realce, ser prehormado o con corte.
        hr 

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img51.png").img-fluid 
            .col
                h3.text-1 Media copa 
                p Brassier de escote profundo que realza y centra el busto, puede ser con cotilla o con piezas independientes de centro y espalda, especial para busto con forma cónico puesto que ayuda a ver redondo el busto.
        hr 

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img52.png").img-fluid 
            .col
                h3.text-1 Push-up
                p Brassier con corte tanto diagonal como inferior para lograr dar la profundidad y el realce característico de esta prenda, realza y centro el busto, ultra escotado con adición de almohadillas para crear mayor realce.
        hr 

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img53.png").img-fluid 
            .col
                h3.text-1 Balconet 
                p Brassier con corte vertical con adición de detalles que embellecen la prenda como bordados, guipures y tiras con adornos, el corte vertical puede subdividirse en varios cortes y llevar sesgos de terciopelos e incluso varillas en su recorrido de altura de copa.
        hr                                 

        .arrow.py-3.mx-5.my-5.bg-2
            h3 Otras siluetas de lingerie
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img54.png").img-fluid 
            .col
                h3.text-1 Minimizer
                p Brassier para sostener volúmenes de busto pesado, reduce el escote y mantiene cómodo el busto.
        hr         

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img55.png").img-fluid 
            .col
                h3.text-1 Materno  
                p Brassier para uso en periodo de lactancia con condiciones específicas de profundidad y servicio.         
        hr
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img56.png").img-fluid 

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img57.png").img-fluid 

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img58.png").img-fluid                                 


        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img59.png").img-fluid 

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img60.png").img-fluid                 
        hr
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img61.png").img-fluid                 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img62.png").img-fluid 

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img63.png").img-fluid 

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img64.png").img-fluid  

        .arrow.py-3.mx-5.my-5.bg-2
            h3 Descuentos para materiales con elongación para ropa interior                
        p Lo primero para tener en cuenta es que los patrones se trabajan por cuartos si la prenda es simétrica para que sea más práctico el desarrollo de la Molderia. El Estándar de elongación que se trabaja para un panty en talla M es de 90% a 150%. Para poder industrializar la Molderia se aplica un porcentaje de descuento del 125% y se descuenta en una cadera estándar Talla M de 96cm de contorno quedando así la formula. Cadera = 96 cm elongación a descontar en contorno cadera 125%.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img65.png").img-fluid                 

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p.m-top 96cm/4 = (96cm contorno de cadera dividido el número de piezas del patrón para realizar el descuento individual) = 24cm.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p.m-top 24 (resultado del porcentaje) se divide en 4 (número de piezas del patrón) = 6cm.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p.m-top 24cm (cuarto de cadera o 1⁄4 del patrón) se le restan los 6cm del resultado anterior y esto nos da el ancho del cuadro en el patrón ya con los descuentos del porcentaje promedio para desarrollar el patrón específico base de todos los Pantys a desarrollar.  

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img66.png").img-fluid                 

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p.m-top Medida para el cuarto del patrón con el descuento del porcentaje.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p.m-top Con esta medida se comenzarán a trazar los cuadrados con los que se desarrollarán los patrones en talla M.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p.m-top Los largos de los tiros son medidas estándar teniendo en cuenta las siluetas de los pantys a trabajar utilizándose las siguientes medidas:                

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img67.png").img-fluid                 

        p Quedando la fórmula de la siguiente manera: 26cm (largo de tiro Talla M) – 20% (elongación de la tela sentido a lo largo del tejido URDIMBRE) = 20.8 aproximándolo estandarizamos a 21cm como valor cerrado y vamos escalando según sea la necesidad de la prenda 2cm hacia abajo y si es necesario hacia arriba.                

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img68.png").img-fluid 

        .row.justify-content-center.align-items-center.mt-5
            .col-8
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top RELACION DE ALTURA DE TIRO
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top CINTURA 21 cm
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top CINTURA BAJA 19 cm
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top SEMI DESCADERADO 17 cm
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top DESCADERADO 15 cm
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top ULTRADESCADERADO o PELVICO 13 cm   
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img69.png").img-fluid 
        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

        .sub-ecored.mt-5#12_1
            h2 12.1 Trazo de panty básico 
        p.mt-5 Para el desarrollo de panty básico se trabajarán las siguientes imágenes de referencia. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img70.png").img-fluid
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del panty básico.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        p Recuerde que este es la base o el punto de partida para hacer el otro tipo de interpretaciones en panty.

        .sub-ecored.mt-5#12_2
            h2 12.2 Trazo de panty culotte  
        p.mt-5 Para el desarrollo de panty culotte se trabajarán las siguientes imágenes de referencia.  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img71.png").img-fluid
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del panty culotte.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        p Recuerde que el punto de partida es el panty básico.       

        .sub-ecored.mt-5#12_3
            h2 12.3 Hipster con encaje 
        p.mt-5 Para el desarrollo de panty hípster con encaje se trabajarán las siguientes imágenes de referencia. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img72.png").img-fluid
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del panty hípster con encaje. 
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        p Recuerde que el punto de partida es el panty básico.        

        .sub-ecored.mt-5#12_4
            h2 12.4 Bóxer encaje 
        p.mt-5 Para el desarrollo de panty bóxer con encaje se trabajarán las siguientes imágenes de referencia. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img73.png").img-fluid
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del panty bóxer con encaje. 
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        p Recuerde que el punto de partida es el panty básico.                

        .sub-ecored.mt-5#12_5
            h2 12.5 Panty faja - cintura alta 
        p.mt-5 Para el desarrollo de panty bóxer con encaje se trabajarán las siguientes imágenes de referencia. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img74.png").img-fluid
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del Panty Faja – Cintura Alta. 
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        p Recuerde que el punto de partida es el panty básico.         


        .sub-ecored.mt-5#12_6
            h2 12.6 Tanga descaderada 
        p.mt-5 Para el desarrollo de Panty tanga descaderada se trabajarán las siguientes imágenes de referencia. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img75.png").img-fluid
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del Panty tanga descaderada. 
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        p Recuerde que el punto de partida es el panty básico.           

        .sub-ecored.mt-5#12_7
            h2 12.7 Interpretación de tanga encaje  
        p.mt-5 Para el desarrollo de Panty tanga de encaje se trabajarán las siguientes imágenes de referencia.  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img76.png").img-fluid
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del Panty tanga de encaje.  
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
        p Recuerde que el punto de partida es el panty básico.    

        .sub-ecored.mt-5#12_8
            h2 12.8 Brasier balconet con cotilla 
        p.mt-5 Para hacer el desarrollo de brasier se trabajan diferentes tipos de metodologías, en este caso se entrega el análisis y la interpretación general de un brasier con cotilla, sacando pieza por pieza cada uno de los elementos.
        p Para el desarrollo del brasier balconet con cotilla se trabajará la siguiente imagen de referencia. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img77.png").img-fluid
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del brasier balconet con cotilla.   
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
              
        .sub-ecored.mt-5#12_9
            h2 12.9 Brallette 
        p.mt-5 Para hacer el desarrollo de brasier se trabajan diferentes tipos de metodologías, en este caso se entrega el análisis y la interpretación general de un brallette, sacando pieza por pieza cada uno de los elementos.
        p En el siguiente vídeo encontrará el paso a paso con la explicación para el trazo manual del brasier balconet con cotilla. 
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  
            
        .sub-ecored.mt-5#12_10
            h2 12.10 Interfaz audaces 
        p.mt-5 Para el manejo e implementación del Software de patronaje es necesario acudir a toda la información entregada hasta el momento en los componentes anteriores, frente al desarrollo y elaboración de ropa interior, implementación metodológica del manual de patronaje básico SENA y demás teorías aplicadas hasta el momento.
        p Para el trazo de patrones en Audaces se referenciará únicamente la línea de ropa interior, sin embargo cabe resaltar que las herramientas del programa y manejo de interfaz, aplica para cualquier línea, debe tener en cuenta el desarrollo del trabajo manual para aplicarlo de manera digital.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  
        section
            a(href="Estrategia_nacional_de_economia_circular.pdf" target="_blank").media-link.bg-color-verde-radial  
                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon
                .media-link-title.ml-4
                    p Anexo – Instructivo de Interfaz Audaces falta link del archivo     

        .sub-ecored-teme.mt-5
            h3 Snap - clásico - automático 
        p.mt-5 En el siguiente vídeo encontrará el paso a paso con la explicación para la configuración y el manejo de herramientas en el Software.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        .sub-ecored-teme.mt-5
            h3 Elemento vrs patrón
        p.mt-5 En el siguiente vídeo encontrará una contextualización sobre los conceptos que se irán trabajando en el desarrollo y manejo del Software.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

        .sub-ecored-teme.mt-5
            h3 Elementos básicos de audaces 
        p.mt-5 En el siguiente vídeo se realiza una contextualización sobre la interfaz y el reconocimiento del Software.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     

        .sub-ecored.mt-5#12_11
            h3 12.11 Panty clásico 
        p.mt-5 En el siguiente vídeo encontrará el trazo de panty clásico, con la misma metodología y teoría trabajada de manera manual, ahora en el manejo del Software.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.mt-5#12_12
            h3 12.12 Interpretación de pantys
        p.mt-5 En el siguiente vídeo encontrará ejercicios sobre la modificación de la base o panty clásico, con la misma metodología y teoría trabajada de manera manual, ahora en el manejo del Software.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                                                                              
        .sub-ecored.mt-5#12_13
            h3 12.13 Interpretación hipsters 
        p.mt-5 En el siguiente vídeo encontrará el trazo de panty hípsters, con la misma metodología y teoría trabajada de manera manual, ahora en el manejo del Software.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')             

        .sub-ecored.mt-5#12_14
            h3 12.14 Bóxer masculino  
        p.mt-5 En el siguiente vídeo encontrará el trazo de bóxer masculino, con la entrega del paso a paso y metodología del trazo, se hará la exploración desde el manejo del Software, sin embrago, se podrá trabajar está misma explicación de manera manual.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored.mt-5#12_15
            h3 12.15 Pantaloncillo masculino  
        p.mt-5 En el siguiente vídeo encontrará el trazo de pantaloncillo masculino, con la entrega del paso a paso y metodología del trazo, se hará la exploración desde el manejo del Software, sin embrago, se podrá trabajar está misma explicación de manera manual.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                                                    
        .sub-ecored.mt-5#12_16
            h3 12.16 Base superior de ropa interior 
        p.mt-5 En el siguiente vídeo encontrará el trazo de la base superior de ropa interior, con la entrega del paso a paso y metodología del trazo, se hará la exploración desde el manejo del Software, sin embrago, se podrá trabajar está misma explicación de manera manual.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')            

        .sub-ecored.mt-5#12_17
            h3 12.17 Brasier altura de copa 
        p.mt-5 En el siguiente vídeo encontrará el trazo de brasier altura de copa, con la entrega del paso a paso y metodología del trazo, se hará la exploración desde el manejo del Software, sin embrago, se podrá trabajar está misma explicación de manera manual.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')             

        .sub-ecored.mt-5#12_18
            h3 12.18 Copa corte vertical y horizontal 
        p.mt-5 En el siguiente vídeo encontrará el trazo de la base copa corte vertical y horizontal, con la entrega del paso a paso y metodología del trazo, se hará la exploración desde el manejo del Software, sin embrago, se podrá trabajar está misma explicación de manera manual.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')              

        section
            a(href="Estrategia_nacional_de_economia_circular.pdf" target="_blank").media-link.bg-color-verde-radial  
                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon
                .media-link-title.ml-4
                    p Anexo – Guía para desarrollar brasier corte horizontal falta link del archivo  

        .sub-ecored.mt-5#12_19
            h3 12.19 Escalado brasier corte horizontal
        p.mt-5 En el siguiente vídeo encontrará La explicación para el análisis de escalado y programación del software para el manejo de este, debe tener en cuenta la entrega del paso a paso y metodología, esta aplica y se podrá trabajar de manera manual.
        .embed-responsive.embed-responsive-16by9.my-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2noak0Il9Xk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                                 