.container
    .header-ecored
        h1 4. Variador de velocidad (VSD) - Controles para motor PMM
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img40.png").img-fluid
        .row.justify-content-center.align-items-center.mt-5
            .col
                p Los principales equipos de superficie son: 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  transformador reductor 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  VSD
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  transformador elevador 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  filtros
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  caja de conexionado 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  unidad de choke 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  penetradores, entre otros 

            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img41.png").img-fluid 

        .row.justify-content-center.align-items-center.mt-5
            .col
                p El componente central, del total de equipos de superficie, es el variador de frecuencia VSD. Es con ayuda de este equipo que se opera el motor de fondo, que puede ser asincrónico o de imán permanente.  Este permite arrancar, poner en operación, detener, configurar protecciones del equipo instalado y operar el motor en diferentes modos tecnológicos.  

                p El VSD es un equipo complejo que incluye diferentes componentes, entre los que se destacan: un filtro de entrada, un filtro de salida, cuando están internos en el equipo, un variador o drive, un controlador y  demás equipo de soporte para el manejo de todos los componentes y sistemas internos del VSD como una unidad. 
            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img42.png").img-fluid                 
        
        .jumbotron.bg-1.mt-5
            p El controlador, como componente básico del VSD es el dispositivo de interfaz entre operador y equipo. En el controlador se configura las características de los equipos de superficie y fondo, las protecciones  y los modos de operación del motor. 
            p En caso de no tener suministro eléctrico en el sitio del pozo,  se conecta el transformador reductor, el cual por una relación de transformación, convierte el voltaje de la red en un  voltaje de  baja tensión con el que operan los equipos.
            p Del transformador reductor la tensión pasa al filtro de entrada y de allí al VSD como voltaje, frecuencia y fases. Una vez en el VDS y con toda la información ya configurada del equipo de fondo y las variables de operación, el voltaje pasa al filtro de salida, si se tiene previsto y de allí al transformador elevador. 
            img.img-a(src="assets/images/pages/ilustraciones/img43.png").img-fluid                 
 
        .row.justify-content-center.align-items-center.mt-5
            .col-6 
                p El transformador elevador, que se ha configurado previamente de acuerdo con los parámetros requeridos de alimentación del motor de fondo, se conecta con la caja de  conexionado o caja de venteo. De esta forma, se configuran los elementos necesarios:

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Transformador reductor
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Filtro de entrada
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Variador de frecuencia 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Filtro de salida o filtro de onda seno
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Transformador elevador 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Caja de venteo                   
            .col-5
                img.img-a(src="assets/images/pages/ilustraciones/img44.png").img-fluid   

        p.mt-5 #[strong Nota.] La imagen muestra como es el conexionado dentro del transformador y el voltaje de salida al equipo de fondo de la BES  
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img45.png").img-fluid  

        p.mt-5 También, de acuerdo a las características de la operación se puede incluir dentro de los equipos de superficie una unidad de choke y penetrador que se utiliza para conectar el cable de fondo con el tendido en superficie.
        p Con la finalidad de entender a cabalidad cómo funcionan los equipos de superficie en un sistema de bombeo electrosumergible le sugerimos acceder al siguiente enlace. 
        p Vamos a detenernos en detalle en cada uno de los equipos de superficie básicos en un sistema BES.
        section.mt-5
            a(href="https://www.portaldelpetroleo.com/2012/07/bombeo-electrosumergible-diseno.html" target="_blank").media-link.bg-color-verde-radial  
                img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                .media-link-title.ml-4
                    p Ver el recurso web  

        .sub-ecored-teme.mt-5
            h3 Transformadores reductores 
        .row.justify-content-center.align-items-center.mt-5
            .col 
                p En general, un transformador es un dispositivo que no tiene partes móviles, este transfiere energía eléctrica de un circuito a otro bajo el principio denominado “Inducción electromagnética. La transferencia de energía se hace, por lo general, con cambios en los valores establecidos para voltajes y para corrientes manteniendo la misma carga eléctrica.                   
            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img46.png").img-fluid    

            .jumbotron.mt-5 
                p Ver vídeos complementarios               
                .row.justify-content-center.align-items-center.mt-5
                    .col-12.col-md-6
                        section
                            a(href="https://www.youtube.com/watch?app=desktop&v=-U1ZMfc7sac" target="_blank").media-link.bg-color-verde-radial  
                                img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                                .media-link-title.ml-4
                                    p ¿Cómo funcionan los transformadores? 
                    .col-12.col-md-6
                        section
                            a(href="https://www.youtube.com/watch?app=desktop&v=JG_BtY-mBZM" target="_blank").media-link.bg-color-verde-radial  
                                img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                                .media-link-title.ml-4
                                    p Cómo Funciona un Transformador ⚡ Qué es un Transformador                    

                .row.justify-content-center.align-items-center.mt-5
                    .col-8
                        section
                            a(href="https://www.youtube.com/watch?app=desktop&v=DD71yosoo0U" target="_blank").media-link.bg-color-verde-radial  
                                img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                                .media-link-title.ml-4
                                    p Máquinas eléctricas - El transformador                                 
            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img47.png").img-fluid                   

                .col-12.col-md-6
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img48.png").img-fluid                   

        .row.justify-content-center.align-items-center.mt-5
            .col
                p Si un cable está bobinado alrededor de un núcleo de hierro y pasa una corriente a través de este, se induce un campo magnético en el núcleo. La fuerza del campo magnético depende de los KVA que pasan por el bobinado. Si hay otro cable bobinado alrededor del mismo núcleo de hierro, el campo magnético inducirá una corriente y un voltaje en el segundo bobinado. 

                p El bobinado que recibe voltaje de una fuente de alimentación se denomina Primario y el bobinado que recibe voltaje por inducción se le denomina Secundario, como lo muestra la gráfica:

            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img49.png").img-fluid   

        .jumbotron.bg-1.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img50.png").img-fluid          
                .col
                    p El equipo de superficie también incluye un transformador reductor o SDT que permiten reducir el voltaje del secundario con respecto al primario. Por ejemplo, el voltaje del primario puede ser 13.800 VAC, suministrado por línea de media tensión y es reducido a un voltaje secundario de 480 VAC que entra al variador. 
                    p Los VSD utilizan un transformador elevador trifásico o SUT para elevar el voltaje de salida del variador que por lo general es 480V al valor requerido por el motor de fondo. Los transformadores elevadores tienen un sistema de regulación o Taps o selectores manuales que permite entregar en la salida, es decir en el Secundario el voltaje que requiere el motor de fondo.

        .sub-ecored-teme.mt-5
            h3 Caja de venteo o gabinete de conexión  
        .row.justify-content-center.align-items-center.mt-5
            .col
                p La caja de venteo es un gabinete básico de conexión donde se enlazan el equipo de fondo y el equipo de superficie y tiene como función principal, además del conexionado,  evacuar al exterior las posibles emanaciones de gas que, a través del cable de potencia, migran de fondo a superficie  
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img51.png").img-fluid                  

            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img52.png").img-fluid                  
        .sub-ecored.mt-5#41
            h2 4.1 Switchboard y variadores de velocidad como parte de un sistema ESP. 
        img.img-a.my-3(src="assets/images/pages/ilustraciones/img53.png").img-fluid 

        .row.justify-content-center.align-items-center.mt-5
            .col
                p Los motores eléctricos, por lo general, operan a una velocidad constante o casi constante y con valores que dependen de la alimentación que reciben. Por lo tanto, es importante tener en cuenta las características propias del motor para establecer el equipo de superficie a utilizar.   

                p Con la finalidad de dar arranque a los motores y ponerlos en operación se utilizan diferentes tipos de arrancadores, que van desde los más sencillos, denominados Switchboard hasta arrancadores complejos, denominados VSD. 

                p Dentro de los sistemas de arranque de motores se diferencian tres tipos, de arrancadores,que son los más usados en la industria: 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Switchboard básico.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Switchboard con arranque suave.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top VSD.
                

            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img54.png").img-fluid 
        
        .sub-ecored-teme.mt-5
            h3 Switchboards 
        .row.justify-content-center.align-items-center.mt-5
            .col
                p Los switchboard son equipos básicos de arranque y parada  de motores de fondo. El arranque se da de forma directa con un contactor trifásico que arranca y para el motor de fondo.

                p Estos arrancadores hacen que el equipo de fondo BES opere a una velocidad fija, por lo que se limita el caudal de producción, dentro de sus características no figura la de cambiar frecuencia de giro del motor por lo que se cataloga como un equipo básico.

                p Hay dos tipos de switchboard: de tipo básico y de arranque suave que son utilizados en aplicaciones específicas donde no se requieren cambios de frecuencia. 

                p Los switchtboard básicos dan arranques con torques iniciales altos, que pueden afectar los componentes del motor, por lo cual se han diseñado switchboard con arranque suave que ayudan a proteger el motor en el arranque.  
             
            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img55.png").img-fluid                 
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img56.png").img-fluid                   
        
        .arrow.py-3.mt-5.br-radius
            h3 Los switchboard no se pueden utilizar en aplicaciones con motores PMM.
        .row.justify-content-center.align-items-stretch
            .col-12.col-md-6.jumbotron.bg-2
                h3 Ventajas
                .hr-ecored
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Fácil instalación y mantenimiento
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Alta confiabilidad. Requiere mantenimientos básicos y personal no especializado
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Dimensión y peso reducidos


                img.img-a.my-3(src="assets/images/pages/ilustraciones/img57.png").img-fluid                   
                         
            .col-12.col-md-6.jumbotron.bg-3 
                h3 Ventajas
                .hr-ecored
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Pico de corriente al arranque (modelo básico)
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Límite en potencia máxima del motor BES
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Velocidad invariable de rotación
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top No ofrecen opción de modos tecnológicos
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Compatibles solo con motores asincrónicos
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img58.png").img-fluid                   
        .sub-ecored-teme.mt-5
            h3 VSD 
        p.mt-5 Con el objetivo de poder regular la velocidad de giro de los motores de fondo se incorporaron a las operaciones de producción de crudo variadores de velocidad VSD (Variable Speed Drive por sus siglas en inglés). 

        p El variador de velocidad  o VSD, con drive de variación de frecuencia y con controladores incorporados, transforma la frecuencia fija y el voltaje AC fijo a frecuencia y voltajes AC variables de corriente, también tiene como función principal  el suministro de alimentación al motor de fondo  y la protección del equipo
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img59.png").img-fluid 

        .arrow.py-3.mt-5.br-radius
            h3 La principal característica de un VSD es que permite el ajuste de la velocidad (RPM) del motor de un sistema BES 
        .jumbotron  
            .row.justify-content-center.align-items-center
                .col 
                    p Debido a que el VSD permite operar a un rango amplio de frecuencias, puede cambiar la capacidad de bombeo para adaptarla a las condiciones del yacimiento. 
                    p La flexibilidad operacional del equipo es conveniente cuando:
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top La productividad es desconocida
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Cambios en las condiciones del pozo a través del tiempo
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Mantenimiento de la PIP (presión en la admisión).

                    p Algunos de los beneficios adicionales, además de la flexibilidad, son la extensión de la vida útil del equipo de fondo, los arranques suaves que no impactan sobre los componentes del sistema, la reducción de la corriente de arranque y del alto pico de torque, la velocidad controlada de forma automática por el equipo, entre otros. 

                .col-auto
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img60.png").img-fluid                   
        .arrow.py-3.mt-5.br-radius
            h3 Los switchboard no se pueden utilizar en aplicaciones con motores PMM.
        .row.justify-content-center.align-items-stretch
            .col-12.col-md-6.jumbotron.bg-2
                h3 Ventajas
                .hr-ecored
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Ajuste de las RPM del motor
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top No hay restricción en cuanto a la máxima capacidad del motor
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Permite varios modos tecnológicos de operación del motor.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Puede adaptarse para operar motores AM y PMM.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Arranque suave, sin pico de corriente (en modos operativos estándar).
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Permite configurar protecciones del equipo en respuesta a condiciones de la operación como por ejemplo parar el equipo cuando se tiene sobre la temperatura del equipo de fondo durante la operación. 
                
                         
            .col-12.col-md-6.jumbotron.bg-3 
                h3 Desventajas
                .hr-ecored
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Mantenimientos altamente complejos que requieren personal especializado
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Dimensiones y peso considerables
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Generación de armónicos en la línea
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Mayores costos CAPEX

        .sub-ecored-teme.mt-5
            h3 Características de un variador de velocidad VSD 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img61.png").img-fluid   

        .sub-ecored#42
            h2 4.2 Diseño de un variador de velocidad VSD (generalidades). 
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top #[strong Controlador.] Control y protección de la ESP, registro y almacenamiento de datos, Interfaz con el operador de la ESP.   

        .row.justify-content-center.align-items-center.mt-5
            .col-4
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img62.png").img-fluid                   

            .col-8
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img63.png").img-fluid                   

        .row.justify-content-center.align-items-center.mt-5
            .col
                p La finalidad del controlador del VSD es la de efectuar el control del equipo de fondo y la protección del equipo BES. También tiene como objetivo hacer el registro de los parámetros de operación del equipo y de almacenarlos. Esta información es importante en los análisis de operación del equipo y la formular las conclusiones en caso de una falla. 

                p Con ayuda del controlador, en su calidad de interfaz entre el operador del equipo y el sistema BES, el operador da los comandos de operación al equipo de fondo, configura los modos de funcionamiento y establece las protecciones para que el VSD  actúe ante cambios en el funcionamiento del equipo o en las condiciones del yacimiento, las que puedan afectar su funcionamiento y su vida útil.  

                p El ambiente de operación del controlador puede ser Windows, Linux u otro, dependiendo del fabricante, al igual que la interfaz depende del software instalado.

                p El controlador tiene, por lo general, por una pantalla, un teclado, puertos USB e indicadores lumínicos.

                p El diseño del controlador depende de los desarrollos y del nivel de complejidad de las operaciones que maneja. Por lo general está compuesto por:

            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img64.png").img-fluid                   

        .row.justify-content-center.align-items-center.mt-5
            .col
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  Tarjeta interfaz que hace conversión de la información a través de protocolos de comunicación. Empareja el computador del controlador y los componentes internos y externos, como SCADA, panel de superficie y otros;

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  Tarjeta de alimentación. Genera voltajes adecuados para el computador del controlador, la tarjeta de interfaz, pantalla y teclado;
 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top  Computador industrial que hace el procesamiento y recopilación de registros y la adquisición y almacenamiento de datos de operación. Además, puede estar provisto de entradas y salidas análogas.
            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img65.png").img-fluid                    
        p.mt-5 Debido a que los fabricantes generan continuamente nuevos desarrollos y mejoras los softwares de los controladores continuamente se deben actualizar. 
        .hr-ecored
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top #[strong El Drive de velocidad] es el corazón del VSD, es el dispositivo que se utiliza para convertir una red eléctrica de uso en corriente trifásica con frecuencias y voltajes ajustables. Es el principal componente de un VSD y el que mayor complejidad muestra.        
        .row.justify-content-center.align-items-center.mt-5
            .col
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img66.png").img-fluid                    

            .col
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img67.png").img-fluid                    

        p.mt-5 #[strong Nota] El drive Danfoss es reconocido en el mercado como uno de los más confiables se recomienda acceder a las páginas de la compañía para conocerlo más a fondo.

        .jumbotron.mt-5
            p Consta de un módulo diodo-tiristor y módulo IGBT 
            .row.justify-content-center.align-items-center.mt-5
                .col
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img68.png").img-fluid 
                .col
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img69.png").img-fluid
            section.mt-5
                a(href="https://files.danfoss.com/download/Drives/MG33AS05.pdf" target="_blank").media-link.bg-color-verde-radial  
                    img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                    .media-link-title.ml-4
                        p Ver el recurso web                   
        .hr-ecored
        .row.justify-content-center.align-items-center.mt-5
            .col
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top #[strong Breaker principal. ] Control de alimentación del motor, protección cortocircuito, protección sobrecarga, protección contra arco eléctrico.
                        p Los hay de diferentes tipos de acuerdo con la potencia del VSD en el que están instalados, por lo general son de 380 o de 480 VAC.
            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img70.png").img-fluid

        .hr-ecored
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top #[strong Filtro de entrada,] se encuentra instalado al interior del VSD, en algunos casos se puede encontrar como una unidad separada, conectada al VSD, se utiliza como dispositivo de  protección del sistema de alimentación por picos armónicos.  Dentro de los componentes principales de un filtro se encuentra un banco de condensadores y los reactores.
        section.mt-5
            a(href="https://christian3306.files.wordpress.com/2010/10/bombeo-electrosumergible.pdf" target="_blank").media-link.bg-color-verde-radial  
                img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                .media-link-title.ml-4
                    p Acceso a Material complementario
        .hr-ecored
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top #[strong Filtro de salida (opcional).] Al igual que el filtro de entrada, puede estar incorporado al variador en un mismo gabinete, o bien en un gabinete por separado conectado al  VSD. El filtro de onda sinusoidal reduce los picos armónicos del voltaje de salida.
        .row.justify-content-center.align-items-center.mt-5
            .col
                img.img-a(src="assets/images/pages/ilustraciones/img71.png").img-fluid
                section.mt-5
                    a(href="https://www.youtube.com/watch?app=desktop&v=LhaE_rLDjAQ" target="_blank").media-link.bg-color-verde-radial  
                        img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                        .media-link-title.ml-4
                            p Tasa de distorsión armónica y otros conceptos básicos de los armónicos eléctricos  
            .col
                img.img-a(src="assets/images/pages/ilustraciones/img72.png").img-fluid
                section.mt-5
                    a(href="https://www.youtube.com/watch?app=desktop&v=UefBYrOFYP4" target="_blank").media-link.bg-color-verde-radial  
                        img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon
                        .media-link-title.ml-4
                            p Electronica practica y basica #10: Transformadores 1/2                  

        .hr-ecored
        .row.justify-content-center.align-items-center.mt-5
            .col
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top #[strong Transformador alimentador ] reduce voltajes para suministro a dispositivos internos. Los diferentes conjuntos al interior del variador trabajan con voltajes bajos. El transformador de corriente tiene como finalidad entregar el voltaje requerido para que los componentes operen adecuadamente.
                        p Medidor eléctrico para medición de voltaje y corriente del VSD

                        p A través del medidor eléctrico se establecen los voltajes que están ingresando al VSD.

            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img73.png").img-fluid
        .hr-ecored
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top #[strong Sistemas de refrigeración. ]Debido a las condiciones de operación (medio ambiente) y al funcionamiento de los componentes internos se generan altas temperaturas que se deben disipar por medio de sistemas de refrigeración instalados al interior del variador. La finalidad es generar temperaturas de operación del equipo que no afecten los componentes.                  
        .hr-ecored
        .row.justify-content-center.align-items-center.mt-5
            .col
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top #[strong Bloque de terminales ] para conexión de dispositivos externos. A través del bloque de terminales, se pueden conectar al variador dispositivos internos, como por ejemplo Scada que permite transmitir los datos de funcionamiento del equipo a un usuario remoto.
            .col-auto
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img74.png").img-fluid                

        .hr-ecored
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top #[strong Tarjeta backspin] para protección del equipo de fondo durante giro en inversa del sistema. Instalada en los equipos como protección del equipo cuando el equipo gira en sentido contrario. Los equipos BES levantan una columna de fluido por la tubería para poner producción en superficie, eventos de parada, cuando el equipo deja de funcionar, la columna de fluido, por acción de gravedad comienza a desplazarse de regreso a fondo de pozo, eso genera un giro en inversa de los componentes de la bomba, dando lugar a giro del eje en sentido contrario, este giro hace que los rotores del motor giren también en reversa y que el motor PMM se convierta en un generador de voltaje, dicho voltaje generado puede ser muy cercano al voltaje nominal del equipo. 

                p Este voltaje, que viaja a través del cable de fondo, se transmite a superficie pudiendo ser fatal.  Por otro lado, el efecto backspin también puede afectar la integridad de los equipos de fondo en el evento en que se intente dar arranque estando el equipo girando en sentido inverso. La tarjeta no permite dar arranque al equipo hasta tanto la frecuencia de giro no sea segura. 
                
        .hr-ecored
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top #[strong Supresor de voltajes.] Actúan en eventos de sobre voltajes para protección del equipo                   
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img75.png").img-fluid                

        .sub-ecored.mt-5#43
            h2 4.3 Configuración del controlador para motores AM - PMM.        
        p.mt-5 Dependiendo del tipo de controlador, los datos se ingresan al computador industrial. Por lo general con la ayuda de un teclado numérico o alfanumérico, en el controlador del VSD, es posible configurar datos tales como:
        .row.justify-content-center.align-items-center.mt-5
            .col-11
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Información del campo, cluster y pozo donde está instalado el equipo ESP.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Hora y fecha.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Unidades de medición.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Modo de arranque: Manual, Automático, Programado.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Corriente nominal del VSD.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Configuración del drive.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Configuración del motor AM o PMM.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Tipo AM o PMM.

                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Potencia.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Voltaje.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Amperaje.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top RPM nominal.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Frecuencia nominal.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Factor de potencia para motores PMM.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Inductancia.
                        .list
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt    
                                p.m-top Cantidad de pares de polos.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Especificación de filtros de entrada y salida y características.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Configuración transformador elevador SUT.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Tipo de control U/F, Vector u otro de acuerdo al fabricante del equipo.
        hr
        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img76.png").img-fluid   
            .col              
                p #[strong Nota:] El modo U/F se utiliza para configurar frecuencia contra voltaje. En voltaje en el punto 0 Hz establece el voltaje de salida del variador a 0Hz y Voltaje U5 establece el voltaje en cinco puntos de la característica en tanto que Frecuencia 6 establece la frecuencia en cinco puntos de la característica.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Tipo y configuración de parámetros del sensor de fondo.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Tipo y configuración del panel de superficie.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt    
                        p.m-top Configurar información de la bomba. Caudal, levantamiento, profundidad de asentamiento (sólo con carácter informativo).

                p Cada controlador responde a unas necesidades específicas del fabricante y de allí la información que requiere que se le incorpore.

        .sub-ecored.mt-5#44
            h2 4.4 VDS como protección del equipo de fondo 
        p.mt-5 A través del controlador del VSD se pueden configurar protecciones del equipo de fondo que actúan cuando hay parámetros internos o externos fuera de los rangos establecidos de operación, entre las principales protecciones que por lo general los VSD incluyen, se encuentran: 
        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a.my-3(src="assets/images/pages/ilustraciones/img77.png").img-fluid   
            .col              
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Sobrevoltaje o bajo voltaje.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Desbalance de voltaje y corriente.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Sobrecarga y baja carga del motor.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Desbalance de corriente de motor.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Corriente máxima de motor.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Presión en la admisión y en la descarga.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Alta temperatura y alta vibración del motor.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Bajo caudal.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Resistencia al aislamiento.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Pérdida de comunicación con el Drive.        

        .sub-ecored.mt-5#45
            h2 4.5 Configuraciones tecnológicas de operación del VSD con motores AM y PM.                        
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Modo cíclico o periódico que se utiliza para adaptar la ESP a las condiciones de yacimiento deteniendo o arrancando el equipo para permitir la recuperación de la presión en fondo.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Modo alternancia de frecuencia que es utilizado para adaptarse a las condiciones de yacimiento sin que el equipo pare.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Modo de cambio programado de frecuencia que se utiliza para aumentar o disminuir la frecuencia durante cierto periodo de tiempo para lograr las condiciones requeridas de pozo.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Modo mantenimiento de parámetros que es utilizado para mantener uno de los parámetros críticos de aplicación de la ESP cambiando la frecuencia del VSD.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Modo de optimización de voltaje y salida. Utilizado para establecer la corriente mínima posible del motor cambiando el voltaje de salida para motores AM y PMM.

        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                p.m-top Modo sacudida que se utiliza para la circulación por etapas para remover deposiciones de sólidos aumentando la frecuencia por cierta cantidad de tiempo.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img78.png").img-fluid   
             
        .sub-ecored.mt-5#46
            h2 4.6 Actualización de controladores de VSD para manejo de motores PMM.               
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img79.png").img-fluid   
        p.mt-5 Dichas tarjetas son montadas en controladores ya existentes o en controladores totalmente nuevos que se instalan en los VSD
        p Las tarjetas se programan con softwares especialmente diseñados para manejar tales motores.

        p El diseño general del controlador es similar al de un controlador convencional que incluye configuración de parámetros de equipo de superficie y fondo, configuración de protecciones y de modos tecnológicos de operación.