.container#patronaje3

    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 3. Operaciones de preparación para elaboración  de muestra - tejido plano
        .header-ecored
            h2 Perfil y estilo de consumidor
        pEn el desarrollo del producto es necesario analizar las funciones del patronista;  se identifican necesidades como #[b.txt-deco5 el manejo y dominio básico por operación de confección o ensamble] al momento de elaborar cualquier tipo de prenda o producto, si bien la destreza en el manejo y dominio de máquinas industriales de confección hace parte del desarrollo integral del patronista, es importante #[b.txt-deco5 tener claro que todo molde, patrón, plano o desarrollo de diseño que se realiza debe ir acompañado de una ruta u orden operacional], ficha técnica de producción con especificaciones para el ensamble, las cuales van de la mano con el área de prototipado o muestreo, en donde es indispensable y fundamental el conocimiento de un patronista, motivo por el cual en el técnico se enfatiza en la importancia del conocimiento y desarrollo por operación de las prendas de vestir.
        .row.align-items-center.bg-color11.mt-5
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img94.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-6.mt-4.mt-md-0
                p Dentro del proceso y desarrollo del producto se identifican elementos como aditamentos, pies, guías y fólderes, los cuales permiten tener mejores resultados en el proceso de confección porque aumentan la eficiencia y calidad en las prendas, por ejemplo para el desarrollo de productos en las diversas operaciones que se requieran en la máquina plana, de manera frecuente se presenta el cambio de pies.
        .hr
        #31
        .header-ecored
            h2 3.1 Ruta u orden operacional para camisa
        .row.align-items-center.bg-color8
            .col-12.col-md-8
                p Cuando se habla de ruta u orden operacionales corresponde al paso a paso por operación y con tiempos preestablecidos, desarrollados en una determinada máquina, equipo o de manera manual, con el fin de obtener una prenda terminada, para el caso se cita la camisa. Las operaciones de confección corresponden al desarrollo de movimientos y métodos de costura en la máquina, equipos o exclusivamente manuales, en donde se van uniendo las piezas que componen la prenda para dar como resultado una prenda completamente confeccionada.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img95.png", style="max-width: 100%").img-fluid.py-4
        p.mt-4 Para la confección de la camisa se requiere realizar operaciones según la clasificación analizada, es decir, operaciones de preparación (iniciales, unir piezas por aparte), ensamble, el cual consiste en unir delantero y posterior anteriormente preparado y finalmente las operaciones de terminación, las cuales son especializadas antes del embalaje como por ejemplo colocar botones, planchar o revisar.
        p.mt-5.txt-deco1 Orden operacional de la confección de camisa
        .row.mt-5.justify-content-around
            .col-12.col-md-5.bg-color9
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                    .col-12.mt-4
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de cuellos.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de la pechera, extensión de botonadura o cruce.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación y ensamble del bolsillo.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación o ensamble de puño.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de espalda.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de portañuela.
            .col-12.col-md-5.bg-color9.mt-4.mt-md-0
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Ensamble de camisa]
                    .col-12.text-center.mt-4
                        img(src="assets/images/pages/ilustraciones/img98.png", style="max-width: 100%").img-fluid
        .row.mt-5
            .col-12.bg-color8
                img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 8%").img-fluid
                p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                p.mt-4 Dentro del proceso de ensamble, rutas operacionales y en algunas maquilas, antes de pasar al proceso operacional en las máquinas se hace un proceso de plantillado fusionado y prehormado, utilizando planchas industriales o equipos de fusionado,  con el fin de agilizar los procesos de producción o los tiempos de la operación, a nivel de producción se tiene una operaria encargada de hacer solo una operación, es decir, una sola persona se encarga de fusionar, otra se encarga de planchar y otra de marcar o plantillar bolsillos, pecheras y demás complementos de la prenda.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/rF-2wRyxFm0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/1De5em7-9kE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/6oamTzVyc6A', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/e_7gMYHY8TI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                p.mt-5.txt-deco1 a.	Preparación de cuellos
                .row.mt-5
                    .col-12.bg-color1
                        p.mb-0 Fusionar el cuello centrando las entretelas sobre la tela del cuello, dejando 1cm de margen de costura por contorno.
                .row.align-items-center.mt-5
                    .col-12.bg-color5
                        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators
                                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                                li(data-target='#carouselExampleIndicators', data-slide-to='4')
                                li(data-target='#carouselExampleIndicators', data-slide-to='5')
                            .carousel-inner
                                .carousel-item.active
                                    .row.justify-content-center
                                        .col-10
                                            p Existen diferentes tipos de entretelas, en este caso se sugiere trabajar entretelas que se fusionen con pegamento por el revés de la pieza del cuello. Para activar el pegamento se sugiere trabajar con una plancha caliente o con una fusionadora, además realizar pruebas para conocer el comportamiento de la tela por si se presenta encogimiento. Para las operaciones de costura se utiliza máquina plana o máquinas planas especializadas con montaje de aditamentos que cosen y cortan la rebaba, es decir, el material sobrante. 
                                            img(src="assets/images/pages/ilustraciones/img99.png", style="max-width: 100%", alt="0").img-fluid.img-a
                                .carousel-item
                                    .row.justify-content-center
                                        .col-10
                                            p Coser el contorno a ½ cm en la parte de arriba del cuello, rematando costura al iniciar y al terminar.
                                            img(src="assets/images/pages/ilustraciones/img100.png", style="max-width: 100%", alt="1").img-fluid.img-a
                                .carousel-item
                                    .row.justify-content-center
                                        .col-10
                                            p Despuntar, desbastar o perfilar la parte de la punta del cuello para afinar el acabado y que al voltearlo guarde simetría.
                                            img(src="assets/images/pages/ilustraciones/img101.png", style="max-width: 100%", alt="2").img-fluid.img-a
                                .carousel-item
                                    .row.justify-content-center
                                        .col-10
                                            p Voltear el cuello y con la ayuda de las tijeras o con un punzón definir las puntas, cuidando no picar la pieza.
                                            img(src="assets/images/pages/ilustraciones/img102.png", style="max-width: 100%", alt="3").img-fluid.img-a
                                .carousel-item
                                    .row.justify-content-center
                                        .col-10
                                            p Juntar las puntas y verificar simetría antes de pespuntear el cuello.
                                            img(src="assets/images/pages/ilustraciones/img103.png", style="max-width: 100%", alt="4").img-fluid.img-a
                                .carousel-item
                                    .row.justify-content-center
                                        .col-10
                                            p Pespuntar al filo del cuello. Esta costura o pespunte puede variar según las especificaciones técnicas a 1/16” o 1/ 4”. Rematar al inicio y al final del pespunte.
                                            img(src="assets/images/pages/ilustraciones/img104.png", style="max-width: 100%", alt="5").img-fluid.img-a
                            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                p.mt-5.txt-deco1 Preparación del pie de cuello o banda:
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.mb-0 Planchar o fusionar la entretela al pie del cuello vista por la parte de atrás, emparejando desde arriba.
                        img(src="assets/images/pages/ilustraciones/img105.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Doblar la parte que quedó sin entretela para hacer el dobladillo del pie de cuello.
                        img(src="assets/images/pages/ilustraciones/img106.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Colocar el pie de cuello forro con la vista hacia arriba. Colocar el cuello con la vista hacia arriba. Colocar el pie de cuello vista con la vista hacia abajo.
                        img(src="assets/images/pages/ilustraciones/img107.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Verificar que las tres marcas del centro de las piezas coincidan, es decir, cuello con pie vista y pie forro.
                        img(src="assets/images/pages/ilustraciones/img108.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Realizar costura del centro hacia las orillas, primero una curva y después la otra, es decir, un lado y volteando el otro lado al derecho.
                        img(src="assets/images/pages/ilustraciones/img109.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Planchar la costura del pie del cuello y revisar que los dos pies de cuello queden del mismo tamaño y las dos puntas del cuello.
                        img(src="assets/images/pages/ilustraciones/img110.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Verificar el ancho de puntas y la coincidencia de pie de cuello.
                        img(src="assets/images/pages/ilustraciones/img111.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Pespuntar al borde o filo del pie de cuello, el pespunte se realiza a 1 /16” o 1/4 “o según especificaciones técnicas.
                        img(src="assets/images/pages/ilustraciones/img112.png", style="max-width: 90%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/07rqOHM1BAA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qrDYO2tDJ_k', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                p.txt-deco1 b. Preparación de la pechera, extensión de botonadura o cruce
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.mb-0 Doblar el delantero izquierdo (planchar) hacia el forro de la tela del lado de la línea del ojal y botón, dejando una costura de 4 cm.
                        img(src="assets/images/pages/ilustraciones/img113.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Segundo doblez, planchar nuevamente de 4 cm.
                        img(src="assets/images/pages/ilustraciones/img114.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Realizar un pespunte de ½ cm de la orilla del segundo doblez, del lado del delantero. No olvidar rematar siempre al inicio y al final de cada costura.
                        img(src="assets/images/pages/ilustraciones/img115.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Desdoblar el delantero y hacer una sobrecostura de ½ cm en la orilla del primer doblez, quedando formada la perilla.
                        img(src="assets/images/pages/ilustraciones/img116.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Doblar por la parte de la línea del ojal y botón, al delantero derecho, quedando a 2 ½ cm terminado.
                        img(src="assets/images/pages/ilustraciones/img117.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Primer doblez, planchar el delantero derecho y doblar hacia dentro 1 cm, o hacia el forro.
                        img(src="assets/images/pages/ilustraciones/img118.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Primer doblez, planchar el delantero derecho y doblar hacia dentro 1 cm, o hacia el forro.
                        img(src="assets/images/pages/ilustraciones/img119.png", style="max-width: 90%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/v2tY3caLubY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/v80MRBE32LY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                p.txt-deco1 c. Preparación y ensamble del bolsillo
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.mb-0 Doblar a 1 cm y doblar nuevamente a 2 ½ cm, es decir, donde se hicieron las muescas en la parte de arriba del bolsillo.
                        img(src="assets/images/pages/ilustraciones/img120.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Hacer un pespunte al orillo del dobladillo de 2 ½ cm.
                        img(src="assets/images/pages/ilustraciones/img121.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Pegar el bolsillo prehormado en los piquetes de la parte delantera izquierda de la camisa, realizando un pespunte a 1 /16“ al orillo del bolsillo y con remate en el inicio y final.
                        img(src="assets/images/pages/ilustraciones/img122.png", style="max-width: 90%").img-fluid.img-a
        img(src="assets/images/pages/ilustraciones/img123.png", style="max-width: 90%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Nu7OYw6XBj8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                p.txt-deco1 d. Preparación o ensamble de puño
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.mb-0 Fusionar los puños vista, posicionando la entretela con el pegamento por el revés de la tela de los puños vista.
                        img(src="assets/images/pages/ilustraciones/img124.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Dobladillar 1 cm la parte que quedó sin entretela para hacer el dobladillo.
                        img(src="assets/images/pages/ilustraciones/img125.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Colocar el puño forro con la vista hacia arriba. Colocar el puño vista hacia abajo, encima del puño forro.
                        img(src="assets/images/pages/ilustraciones/img126.png", style="max-width: 90%").img-fluid.img-a
        p.mt-4.text-center Coser el contorno del puño, dejando ½ cm de pestaña en la parte de arriba.
        .row.mt-5
            .col-12.bg-color1
                p Nota:
                p.mb-0 Rematar al principio y al final de cada costura y coser de la misma manera el otro puño. Si el puño es de puntas redondas tengan mucho cuidado al pasar la costura para que no pierda la forma.
        p.mt-4.text-center Voltear los puños, revisar que las curvas de los puños queden iguales, un lado contra el otro.
        img(src="assets/images/pages/ilustraciones/img127.png", style="max-width: 90%").img-fluid.img-a
        p Planchar los puños y pasar un pespunte, alrededor de la orilla de los puños para mejor acabado. Este pespunte puede variar según las especificaciones técnicas 1/16“ o 1/4“. Este pespunte regularmente es igual al del cuello.
        img(src="assets/images/pages/ilustraciones/img128.png", style="max-width: 90%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/J2c02nTStGM', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                p.txt-deco1 e. Preparación de espalda
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.mb-0 Pegar marquilla y talla al centro de la almilla o canesú forro por el derecho de la tela.
                        img(src="assets/images/pages/ilustraciones/img129.png", style="max-width: 90%").img-fluid.img-a
        .row.mt-5
            .col-12.bg-color8
                p.txt-deco1 Canesú o almilla forro con la vista tela hacia arriba
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.mb-0 Coser el pliegue o tablón de la espalda.
                        img(src="assets/images/pages/ilustraciones/img130.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Doblar las dos marcas de la espalda.
                        img(src="assets/images/pages/ilustraciones/img131.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Cuidar que coincidan con la marca o piquetes del medio, hacer una costura de ½ cm encima del tablón, pliegue o fuelle en la parte alta de la espalda, no olvidar rematar al inicio y al final de la costura.
                        img(src="assets/images/pages/ilustraciones/img132.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Colocar el forro de la pieza con la cara (derecho tela) hacia arriba, colocar la espalda con la cara (derecho tela) hacia arriba, colocar la pieza delantera cara (derecho tela hacia abajo).
                        img(src="assets/images/pages/ilustraciones/img133.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Juntar las tres piezas para que queden parejas. Unir con una costura dejando 1 cm de costura , rematando al inicio y al final.
                        img(src="assets/images/pages/ilustraciones/img134.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Pespunten pasando la costura en la orilla del canesú.
                        img(src="assets/images/pages/ilustraciones/img135.png", style="max-width: 90%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/v80MRBE32LY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                p.txt-deco1 f. Preparación de portañuela
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.mb-0 Doblar y planchar las portañuelas a 1 cm de ambos lados de las aletillas hacia el revés de la tela.
                        img(src="assets/images/pages/ilustraciones/img137.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Coser primero manga y portañuela, por uno de los lados planchados pongan la manga con vista hacia abajo, y aletilla vista hacia abajo con una pestaña de 1 cm al pasar la costura por la “y” o marca.
                        img(src="assets/images/pages/ilustraciones/img138.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Voltear la portañuela y la manga y hagan sobrecostura al filo de la aletilla, teniendo cuidado que la costura de abajo quede dentro del margen.
                        img(src="assets/images/pages/ilustraciones/img139.png", style="max-width: 90%").img-fluid.img-a
                    .col-10.bg-color14.mt-4
                        p.mb-0 Posicionar  la aletilla para formar el pico, de tal manera que se identifique aletilla sobre aletilla. Debe quedar el pico de aletilla sobre aletilla para hacer el pespunte. El pico de la portañuela se forma con los dedos, acomodando la parte de inferior con la parte superior se forma el pico. Pasar pespunte al filo u orillo del pico de la portañuela y continuar hasta los 3 cm hacia abajo. Cruzar la aletilla y terminar el pespunte donde empezaron.
                        img(src="assets/images/pages/ilustraciones/img140.png", style="max-width: 90%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/UEgH-oW8cGA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ovzT9l3yUOo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2VL8Kkq1H-U', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 8%").img-fluid
                p.d-inline.mb-0 #[b.txt-deco4 Ensamble de camisa]
                .row.align-items-center
                    .col-4
                        img(src="assets/images/pages/ilustraciones/img141.png", style="max-width: 90%").img-fluid.img-a
                    .col-8
                        p Luego de tener cada una de las piezas por separado, es decir, preparadas, se inicia el ensamble de la camisa, se procede a unir para poder tener la prenda final.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/01wZX2R9czU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="/media/documentos/Anexo3.pdf" target="_blank").media-link
                        img(src="assets/images/pages/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Ficha técnica de camisa
        .hr
        #32
        .header-ecored
            h2 3.2 Ensamble de blusa femenina
        .row.align-items-center.bg-color2
            .col-12.col-md-8
                p En el desarrollo de la confección de la blusa femenina presenta en común varias operaciones con la camisa masculina, es importante analizarlas para relacionar el orden operacional, es decir, qué piezas la componen para unir mediante los tipos de costura acordes con las especificaciones técnicas de calidad, que en muchos casos pueden diferenciar una prenda masculina de una femenina. En esencia, se inicia por trabajar las operaciones de preparación en cuellos, puños, bolsillos y pechera, para luego unir el delantero y posterior, y finalmente realizar las operaciones de terminación, obteniendo la prenda terminada.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img142.png", style="max-width: 100%").img-fluid.py-4
        p.mt-5.txt-deco1 Orden operacional de confección de blusa femenina
        .row.mt-5.justify-content-around
            .col-12.col-md-5.bg-color6
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                    .col-12.mt-4
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de bolsillo.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de puños.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de cuello.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de pechera, cruce de botonadura o extensión de botones.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de pinzas.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de almilla o canesú.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de portañuela o perilla.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Plantillado de bolsillo.
            .col-12.col-md-5.bg-color6.mt-4.mt-md-0
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Ensamble de blusa]
                    .col-12.text-center.mt-4
                        img(src="assets/images/pages/ilustraciones/img143.png", style="max-width: 100%").img-fluid
        .row.mt-5
            .col-12.bg-color6
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.txt-deco1 A. Preparación de las piezas
                        .row.align-items-center
                            .col-4
                                img(src="assets/images/pages/ilustraciones/img144.png", style="max-width: 90%").img-fluid.img-a
                            .col-8
                                p.mb-0 Cuando se va a iniciar un proceso de confección lo primero que se debe tener en cuenta es calibrar las máquinas, a nivel general existen puntadas por pulgada (PPP) normalizadas o estandarizadas para ensamblar o confeccionar cada tipo de prenda, se debe tener en cuenta la información entregada en la ficha técnica, esto depende del material y el tipo de costura, se recomienda en esta prenda uso de 10 P.P.P, tanto en costuras internas como externas.
        p.mt-4 A nivel industrial existen diferentes formas de llevar a cabo un proceso y/o ruta operacional para la preparación y el ensamble de una prenda, en esta ocasión se dará la explicación general para ensamblar una blusa femenina con almilla, pinzas, bolsillo de parche, pechera o cruce de botonadura y cuello camisero.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/APYyyfTUrzY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color6
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.txt-deco1 B. Ensamble de blusa femenina
                        .row.align-items-center
                            .col-4
                                img(src="assets/images/pages/ilustraciones/img145.png", style="max-width: 90%").img-fluid.img-a
                            .col-8
                                p.mb-0 Luego de tener cada una de las piezas preparadas de la prenda que se va a confeccionar se procede a unir y ensamblar para poder tener la prenda final.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ik-8HFR6nnM', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #33
        .header-ecored
            h2 3.3 Ensamble de falda
        .row.align-items-center.bg-color8
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img146.png", style="max-width: 100%").img-fluid.py-4
            .col-12.col-md-8
                p En la confección de la falda se debe analizar en las operaciones de inicio una de las operaciones críticas como es el sistema de cierre con cremallera como se va a especificar, es importante realizar el alistamiento de los recursos a necesitar como son los hilos, cremallera, piezas cortadas sean en tela y entretela, agujas, pies, guías y demás elementos que aseguren el flujo de las operaciones
                p Para el desarrollo de la ruta operacional en confección de falda se inicia con las operaciones de preparación, luego se desarrolla el ensamble al unir el posterior y delantero por los costados o laterales, y finaliza con las operaciones de terminados como ojalar, botonar y planchar.
        p.mt-5.txt-deco1 Orden operacional de falda
        .row.mt-5.justify-content-around
            .col-12.col-md-5.bg-color9
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                    .col-12.mt-4
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de abertura o caja.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid 
                            .list__txt
                                p Preparación de pinza.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de cremallera.
            .col-12.col-md-5.bg-color9.mt-4.mt-md-0
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Ensamble de falda]
                    .col-12.text-center.mt-4
                        img(src="assets/images/pages/ilustraciones/img147.png", style="max-width: 100%").img-fluid
        .row.mt-5
            .col-12
                img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 8%").img-fluid
                p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                .row.align-items-center
                    .col-8
                        p A nivel industrial existen diferentes formas de llevar a cabo un proceso y/o ruta operacional para la preparación y el ensamble de una prenda, en esta ocasión se dará la explicación general para ensamblar una blusa femenina con almilla, pinzas, bolsillo de parche, pechera o cruce de botonadura y cuello camisero.
                    .col-4.text-center
                        img(src="assets/images/pages/ilustraciones/img148.png", style="max-width: 100%").img-fluid.py-4
                    .col-12
                        p A nivel industrial como van avanzando las máquinas y las técnicas de confección se van presentando varios tipos de métodos para desarrollar una prenda, a continuación, se especifica una de ellas:
        .row.mt-5
            .col-12.bg-color8
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.txt-deco1 a. Preparación de abertura o caja
                        p.mt-4 A nivel industrial existen diferentes formas de desarrollar la caja o la abertura de una prenda; sin embrago, se debe tener en cuenta que:
                        .row.align-items-center
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img149.png", style="max-width: 100%").img-fluid.py-4
                            .col-10
                                p Se puede trabajar la misma técnica de ensamble u operación para el desarrollo de la abertura en cualquier otra prenda.
                                p.mb-0 La abertura no siempre debe ir forrada o entalegada, puede quedar con acabados como fileteadora o sesgo.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/agv2NdkQsBo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/9nkc0LnLmv4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.txt-deco1 b. Preparación de pinza
                        p.mt-4 A nivel industrial existen diferentes formas de desarrollar la caja o la abertura de una prenda; sin embrago, se debe tener en cuenta que:
                        .row.align-items-center
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img150.png", style="max-width: 100%").img-fluid.py-4
                            .col-10
                                p.mb-0 A nivel industrial existen varias formas para cerrar o confeccionar pinzas, todo va de la mano con el tipo de material, rango de producto y calidad en la confección.
        .row.mt-5
            .col-12.bg-color8
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.txt-deco1 c. Preparación de cremallera 
                        p.mt-4 A nivel industrial existen diferentes formas de desarrollar la caja o la abertura de una prenda; sin embrago, se debe tener en cuenta que:
                        .row.align-items-center
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img151.png", style="max-width: 100%").img-fluid.py-4
                            .col-10
                                p.mb-0 En la elaboración de prendas existen diferentes tipos y formas de pegar la cremallera, todo depende de las especificaciones del diseño, el tipo de cremallera,  en algunas ocasiones del tipo de material o tipo de prenda.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/02TQRK7XxrE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12
                img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 8%").img-fluid
                p.d-inline.mb-0 #[b.txt-deco4 Ensamble de falda]
                .row.mt-4
                    .col-12
                        p.mb-0 Luego de tener cada una de las piezas preparadas de la prenda que se va a confeccionar, se procede a unir y ensamblar para poder tener la prenda final.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZaS-1F7iKR8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/K7VtD_zqlBU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #34
        .header-ecored
            h2 3.4 Ensamble de pantalón masculino
        .row.align-items-center.bg-color8
            .col-12.col-md-8
                p La confección de pantalón comprende unir o cerrar en primera medida las piezas como bolsillos, pretina y/o cortes que lo conformen, los cuales hacen parte de operaciones iniciales, dado el caso se une por costado o entrepierna, de esta forma se ensambla el pantalón y finalmente operaciones de terminación como presillar, ojalar, botonar y planchar. Es importante analizar los requerimientos en términos de maquinaria, pies, guías y demás elementos necesarios para su confección.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img152.png", style="max-width: 100%").img-fluid.py-4
        p.mt-4 Para el desarrollo de la ruta operacional en confección de pantalón conforme al diseño y desarrollo del patronaje se construye la ruta operacional adecuada, en la cual se obtenga el pantalón de acuerdo con lo planteado.
        p.mt-5.txt-deco1 Orden operacional de confección de pantalón
        .row.mt-5.justify-content-around
            .col-12.col-md-5.bg-color9
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                    .col-12.mt-4
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Montaje de cierre, cremallera, corredera o zipper. (aletilla y aletillón)
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid 
                            .list__txt
                                p Preparación de bolsillos.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Bolsillo de ribete sencillo.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Montaje de pretina.
            .col-12.col-md-5.bg-color9.mt-4.mt-md-0
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Ensamble de pantalón]
                    .col-12.text-center.mt-4
                        img(src="assets/images/pages/ilustraciones/img153.png", style="max-width: 100%").img-fluid
        .row.mt-5
            .col-12
                img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 8%").img-fluid
                p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                .row.align-items-center
                    .col-8
                        p Dentro del inicio de la confección las operaciones iniciales comprenden fusionar piezas como bolsillos, pretinas, además de marcaciones para ubicar bolsillos, las cuales aseguran la calidad del pantalón y aportan rendimiento en el proceso.
                    .col-4.text-center
                        img(src="assets/images/pages/ilustraciones/img154.png", style="max-width: 100%").img-fluid.py-4
        .row.mt-5
            .col-12.bg-color8
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.txt-deco1 a. Montaje de cierre, cremallera, corredera o zipper (aletilla y aletillón)
                        .row.align-items-center
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img155.png", style="max-width: 100%").img-fluid.py-4
                            .col-10
                                p.mb-0 Para el montaje de una cremallera con sistema de aletilla y aletillón es necesario identificar cada una de las piezas y tener en cuenta que los acabados y los pasos para el ensamble y el desarrollo pueden variar. 
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/4pMSfzpnmYg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gh7JebPO8Ac', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/76HmBvopo4M', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.txt-deco1 b. Preparación de bolsillos
                        .row.align-items-center
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img156.png", style="max-width: 100%").img-fluid.py-4
                            .col-10
                                p.mb-0 En la elaboración de bolsillos existen diferentes tipos, formas y cantidad de piezas que permiten tener un óptimo desarrollo de la operación, es necesario identificar el tipo de prenda, material y calidad con la que se debe desarrollar la prenda, cada uno de estos elementos varían otorgando más operaciones.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/tE5hyZ7Ai_Q', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5WeZa7YKmyo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color8
                .row.mt-4.justify-content-center
                    .col-10.bg-color14
                        p.txt-deco1 c. Bolsillo de ribete
                        .row.align-items-center
                            .col-2
                                img(src="assets/images/pages/ilustraciones/img157.png", style="max-width: 100%").img-fluid.py-4
                            .col-10
                                p.mb-0 Existen diferentes tipos de bolsillos de ribete, de igual manera varias  formas de confeccionarlos, se debe tener en cuenta que su orden varía dependiendo el tipo de complemento del bolsillo.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/vpuPoBVGva8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/VM5jvCGuoEc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12
                img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 8%").img-fluid
                p.d-inline.mb-0 #[b.txt-deco4 Ensamble de pantalón]
                .row.mt-4.align-items-center
                    .col-8
                        p.mb-0 Luego de tener cada una de las piezas preparadas de la prenda a ensamblar se unen por costados y entrepiernas, y se termina con pegar la pretina y dobladillas de las botas.
                    .col-4.text-center
                        img(src="assets/images/pages/ilustraciones/img158.png", style="max-width: 100%").img-fluid.py-4
        .hr
        #35
        .header-ecored
            h2 3.5 Ensamble de pantalón femenino
        .row.align-items-center.bg-color8
            .col-12.col-md-8
                p.mb-0 El caso del pantalón masculino se asemeja en su mayoría al proceso de confección con algunas diferencias, por ejemplo, el bolsillo lateral, relojero, pretina o el ensamble de la cremallera en la parte del gavilán. Además, en el pantalón femenino por la versatilidad en los diseños, las operaciones pueden variar como es el caso de bolsillos, pretinas, sistemas de cierre (cremallera corriente e invisible).
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img159.png", style="max-width: 100%").img-fluid.py-4
            .col-12
                p.mb-0 Una vez se realice el análisis de las operaciones se organizan de tal forma que se clasifiquen en los tres tipos: preparación, ensamble y terminados.
        p.mt-5.txt-deco1 Orden operacional de confección de pantalón
        .row.mt-5.justify-content-around
            .col-12.col-md-5.bg-color9
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                    .col-12.mt-4
                        .list.align-items-star
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Preparación de bolsillos.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid 
                            .list__txt
                                p Preparación de pretina.
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Montaje de cierre, cremallera, corredera o zipper (aletilla y aletillón).
                        .list.align-items-star.mt-2
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p Cerrar pinzas.
            .col-12.col-md-5.bg-color9.mt-4.mt-md-0
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Ensamble de pantalón]
                    .col-12.text-center.mt-4
                        img(src="assets/images/pages/ilustraciones/img163.png", style="max-width: 100%").img-fluid
        .row.mt-5.justify-content-around
            .col-12.col-md-5.bg-color9
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img160.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Preparación de las piezas]
                    .col-12
                        p.mb-0.mt-4 En el análisis de las operaciones se debe contemplar el análisis del método de las operaciones para tener el método más adecuado para la prenda, en general las operaciones manuales como fusionados, planchados o marcaciones de bolsillo encabezan la lista para el arranque de la confección del pantalón, también se incluyen las operaciones de pegar bolsillos y cerrar pretina, en dado caso se incluye la preparación de pasadores.
            .col-12.col-md-5.bg-color9.mt-4.mt-md-0
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img161.png", style="max-width: 8%").img-fluid
                        p.d-inline.mb-0 #[b.txt-deco4 Ensamble de pantalón]
                    .col-12
                        p.mt-4 Luego de tener cada una de las piezas preparadas de la prenda que se va a confeccionar se procede a unir por entrepierna y costado para poder tener la prenda final.
                    .col-12.text-center.mt-4
                        img(src="assets/images/pages/ilustraciones/img162.png", style="max-width: 100%").img-fluid
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/dzUrDfv7_lI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')