.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 ABERTURA:
            | Separación de las partes de algo, dejando al descubierto el interior, hendidura, agujero
        
        p
            strong.mr-2 ACABADO:
            | Los diferentes sistemas industriales para perfeccionar un producto. El acabado en los tejidos comprende el blanqueado, teñido, encogido, estirado, estampado, satinado
        p 
            strong.mr-2 ASIMÉTRICO:
            | Que no guarda simetría o que carece de ella: figura asimétrica.
        p
            strong.mr-2 CANESÚ:
            | Pieza superior de la camisa o traje a la que se une el cuello y las mangas y el resto de la prenda.

        p
            strong.mr-2 CRUCE:
            | Línea formando un margen entre el centro y el canto de botonadura.

        p
            strong.mr-2 DOBLADILLO:
            | Pliegue o remate que se hace a la ropa en los bordes.

        p
            strong.mr-2 EJE DE SIMETRÍA:
            | Lo que divide una figura en dos partes iguales.

        p
            strong.mr-2 ENCARAR:
            | Poner las telas derecho con derecho.

        p
            strong.mr-2 ENSAMBLE:
            | Unir las piezas de una prenda según la secuencia operacional

        p
            strong.mr-2 FICHA TÉCNICA:
            | Documento controlado que contiene la información necesaria y pertinente sobre un producto. Se utiliza para determinar parámetros de diseño y para estandarizar los lotes de producción

        p
            strong.mr-2 FLOJO:
            | Lo que sobra de la tela para embeber

        p
            strong.mr-2 FRUNCIR:
            | Pliegue en arrugas pequeñas y paralelas.

        p
            strong.mr-2 FUSIONAR:
            | Unir por medio de calor

        p
            strong.mr-2 OPERACIÓN EN CONFECCIÓN:
            | Actividad o trabajo que permite agregarle valor y/o trasformar un producto 

        p
            strong.mr-2 PESPUNTE:
            | Costura que se efectúa mediante puntadas unidas volviendo la aguja hacia atrás después

        p
            strong.mr-2 SECUENCIA OPERACIONAL:
            | Conjunto de operaciones que en una forma ordenada conllevan a la elaboración de un producto (prenda de vestir). 