.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Estator:
            | componente fijo de un motor de inducción
        
        p
            strong.mr-2 Devanado:
            | hilo conductor enrollado y aislado para conformar el estator y/o el rotor de un motor electrico
        p 
            strong.mr-2 Voltaje/Corriente AC Trifásico:
            | sistema de producción, distribución y consumo de energía eléctrica formado por tres corrientes alternas monofásicas de igual frecuencia y amplitud, que representa una diferencia entre ellas de 120°
        p
            strong.mr-2 Sistemas de levantamiento:
            | sistemas utilizados en la industria petrolera para la producción de hidrocarburos llevando el fluido desde el fondo del yacimiento hasta la superficie

        p
            strong.mr-2 Sistemas de bombeo Electrosumergible:
            | tipo de sistema de levantamiento generalmente compuestos motor eléctrico, sello, separador de gas o Intake, bombas centrífugas multietapas, cable de alimentación, controlador de motor y transformadores 

        p
            strong.mr-2 Intake:
            | componente de un sistema de bombeo electrosumergible por donde ingresa el fluido de pozo al sistema de levantamiento