.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Uso básico – Software Audaces. Recuperado de:  Material de formación - Equipo de desarrollo curricular Técnico en patronaje industrial de prendas de vestir - SENA CMTC.
                    td Pdf
                    td 
                        a(href="media/documentos/Anexo1.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Tutorial creado por Nocturno Design Blog.
                    td Web
                    td 
                        a(href="https://nocturnodesignblog.com/2019/02/08/como-coser-la-cremallera-para-jean/", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Visitar