include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Armónicos: origen, efectos y soluciones. (2019, 13 mayo). Circutor. ", "http://circutor.es/es/productos/destacados/4622-armonicos-origen-efectos-y-soluciones")
        
    
        +referenciaItem("Baker,  H.(2014). Submersible Pump Handbook 11th Edition. ", " ")

    
        +referenciaItem("Comparison of Permanent Magnet Electric Motor Technology. (2018, 4 mayo). [Vídeo]. YouTube. ", "https://www.youtube.com/watch?v=E5VS4s-R7vk")

    
        +referenciaItem("Dispositivo electrónico para control infinito de velocidad en motores de corriente alterna. (s. f.). [Fotografía]. EcuRed. ", "https://www.ecured.cu/Variador_de_velocidad")

        +referenciaItem("Dmitry, L. (s. f.). Permanent Magnet Synchronous Motor. Engineering Solutions. ", "https://en.engineering-solutions.ru/motorcontrol/pmsm/")

        +referenciaItem("ESP&OIL. ENGINEERING CONSULTANTS. (2004). Filtro de armónicas [Fotografía.]. International Training Group.", "https://christian3306.files.wordpress.com/2010/10/bombeo-electrosumergible.pdf")

        +referenciaItem("How does an Induction Motor work ? (2017, 31 agosto). [Vídeo]. YouTube. ", "https://www.youtube.com/watch?v=AQqyGNOP_3o")

        +referenciaItem("Motor de inducción. (2016, 22 noviembre). Máquinas Eléctricas. ", "https://maquinaselectricasblog.wordpress.com/motor-de-induccion/")

        +referenciaItem("DSociety of Petroleum Engineers. (2017).Leveraging ESP Energy Efficiency with Permanent Magnet Motor.", " ")

        +referenciaItem("Society of Petroleum Engineers. (2017).Case Study, Permanent Magnet Motor Operation Below Perforations in Stagnant Fluid.", " ")

        +referenciaItem("Synchronous motor with permanent magnets. (2018, 12 octubre). [Vídeo]. YouTube. ", "https://www.youtube.com/watch?v=NRxo5aDGG8M")

        +referenciaItem("TTakacs, G. (2018).Electrical Submersible Pumps Manual. 2nd edition. ", " ")                
        
        +referenciaItem("Wildi, T.( 2007). Máquinas Eléctricas y sistemas de potencia. Sexta edición.", " ")   

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            